In [1]:
import matplotlib.pyplot as plt
import numpy as np
import pandas as pd
import seaborn as sns
import os
from pathlib import Path

In [36]:
import string as str

In [139]:
# Information about attendees of all events 
data_events_ppl = pd.read_csv("../raw_data/240304 BPM Events list people  - ALL __.csv")
data_events_ppl.head(10)

,Event,First Name,Surname,Email,Attendee Status,Your Job Position,Choose your role,Choose your role.1,Seniority,How did you hear from us?,Company,Rain,Day,Location
0,2,Patrick,Beeker,patrick.beeker@gmail.com,Attending,Product,Product Manager,NaN,NaN,BPM Meetup group,Smartbroker AG,Yes,Tuesday,Berlin
1,2,Teena,Kumari,teena2768@gmail.com,Attending,Product,Product Manager,NaN,NaN,LinkedIn,World simplifed Ug,Yes,Tuesday,Berlin
2,2,Nesha,Siwi,i@neshasiwi.de,Attending,Design,NaN,NaN,NaN,LinkedIn,Freelancer,Yes,Tuesday,Berlin
3,2,Shuvam kumar,Sah,shuvamshah98152@gmail.com,Attending,Student,NaN,NaN,NaN,BPM Meetup group,ATEM,Yes,Tuesday,Berlin
4,2,Ayman,Chalhoub,aymanc@gmail.com,Attending,Founder / CXO,NaN,NaN,NaN,Lenny's Newsletter,Clink,Yes,Tuesday,Berlin
5,2,Elena,Berendeeva,elenaberendeeva@gmail.com,Attending,Marketing,NaN,Product Marketing,NaN,I know the organizers,JetBrains,Yes,Tuesday,Berlin
6,2,Mircea,Giurca,mirceacnu@gmail.com,Attending,Marketing,NaN,Head of Marketing,Head,Lenny's Newsletter,GetYourGuide,Yes,Tuesday,Berlin
7,2,Luisa,Suda,lnsuda@gmail.com,Attending,Product,Product Owner,NaN,NaN,I know the organizers,Humanoo,Yes,Tuesday,Berlin
8,2,Sidra,Aziz,sidra.aaziz@gmail.com,Attending,Product,Product Manager,NaN,NaN,LinkedIn,HeyJobs GmbH,Yes,Tuesday,Berlin
9,2,Joanna,Wilkans,joannawilkans@gmail.com,Attending,Design,NaN,NaN,NaN,LinkedIn,Freelancer,Yes,Tuesday,Berlin

In [140]:
data_events_ppl.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1067 entries, 0 to 1066
Data columns (total 14 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   Event                      1067 non-null   int64
 1   First Name                 1067 non-null   object
 2   Surname                    1067 non-null   object
 3   Email                      1067 non-null   object
 4   Attendee Status            1067 non-null   object
 5   Your Job Position          616 non-null    object
 6   Choose your role           433 non-null    object
 7   Choose your role.1         79 non-null     object
 8   Seniority                  62 non-null     object
 9   How did you hear from us?  676 non-null    object
 10  Company                    994 non-null    object
 11  Rain                       1067 non-null   object
 12  Day                        1067 non-null   object
 13  Location                   1067 non-null   object
dtypes: int64(1), object(13)
memory usage: 116.8+ KB

In [141]:
# ever updating file with data scraped from linked in
data_scraped = pd.read_csv("../raw_data/result.csv")
data_scraped.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 504 entries, 0 to 503
Data columns (total 69 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   url                        499 non-null    object
 1   title                      499 non-null    object
 2   linkedinProfileUrl         460 non-null    object
 3   email                      138 non-null    object
 4   linkedinProfile            460 non-null    object
 5   description                350 non-null    object
 6   headline                   488 non-null    object
 7   location                   488 non-null    object
 8   firstName                  488 non-null    object
 9   lastName                   488 non-null    object
 10  fullName                   488 non-null    object
 11  connectionDegree           488 non-null    object
 12  vmid                       488 non-null    object
 13  userId                     488 non-null    float64
 14  linkedinSalesNavigatorUrl  488 non-null    object
 15  connectionsCount           458 non-null    float64
 16  connectionsUrl             488 non-null    object
 17  mutualConnectionsUrl       488 non-null    object
 18  company                    481 non-null    object
 19  companyUrl                 438 non-null    object
 20  jobTitle                   480 non-null    object
 21  jobDescription             311 non-null    object
 22  jobLocation                412 non-null    object
 23  jobDateRange               478 non-null    object
 24  jobDuration                477 non-null    object
 25  company2                   472 non-null    object
 26  companyUrl2                427 non-null    object
 27  jobTitle2                  471 non-null    object
 28  jobDescription2            377 non-null    object
 29  jobLocation2               399 non-null    object
 30  jobDateRange2              471 non-null    object
 31  jobDuration2               470 non-null    object
 32  school                     473 non-null    object
 33  schoolUrl                  429 non-null    object
 34  schoolDegree               463 non-null    object
 35  schoolDescription          223 non-null    object
 36  schoolDateRange            431 non-null    object
 37  school2                    396 non-null    object
 38  schoolUrl2                 327 non-null    object
 39  schoolDegree2              384 non-null    object
 40  schoolDescription2         172 non-null    object
 41  schoolDateRange2           358 non-null    object
 42  birthday                   203 non-null    object
 43  allSkills                  468 non-null    object
 44  skill1                     468 non-null    object
 45  endorsement1               278 non-null    float64
 46  skill2                     466 non-null    object
 47  endorsement2               289 non-null    float64
 48  skill3                     464 non-null    object
 49  endorsement3               276 non-null    float64
 50  skill4                     460 non-null    object
 51  endorsement4               270 non-null    float64
 52  skill5                     458 non-null    object
 53  endorsement5               263 non-null    float64
 54  skill6                     456 non-null    object
 55  endorsement6               282 non-null    float64
 56  baseUrl                    499 non-null    object
 57  profileId                  488 non-null    object
 58  timestamp                  504 non-null    object
 59  subscribers                438 non-null    float64
 60  mutualConnectionsText      427 non-null    object
 61  imgUrl                     467 non-null    object
 62  website                    136 non-null    object
 63  mail                       138 non-null    object
 64  connectedOn                144 non-null    object
 65  error                      6 non-null      object
 66  phoneNumber                26 non-null     object
 67  partialScreenshot          297 non-null    object
 68  facebookUrl                1 non-null      object
dtypes: float64(9), object(60)
memory usage: 271.8+ KB

In [142]:
data_scraped.sample(15)

,url,title,linkedinProfileUrl,email,linkedinProfile,description,headline,location,firstName,lastName,...,subscribers,mutualConnectionsText,imgUrl,website,mail,connectedOn,error,phoneNumber,partialScreenshot,facebookUrl
198,https://linkedin.com/in/ugamkumar,Ugam Kumar - Google,https://www.linkedin.com/in/ugamkumar/,ugamjaiswal@gmail.com,https://www.linkedin.com/in/ugamkumar/,12 years of Product development experience as ...,Product Manager at Google,Berlin Metropolitan Area,Ugam,Kumar,...,3125.0,"Mirela Mus, Fabian Kleeberger, and 33 other mu...",https://media.licdn.com/dms/image/C4D03AQFM1Xo...,NaN,ugamjaiswal@gmail.com,"Aug 29, 2023",NaN,NaN,https://phantombuster.s3.amazonaws.com/nitYe1s...,NaN
72,https://linkedin.com/in/professorlisawilson,Professor Lisa Wilson [Short] - Managing Direc...,https://www.linkedin.com/in/professorlisawilson/,NaN,https://www.linkedin.com/in/professorlisawilson/,NaN,Managing Director XTCC | Top 10 WEF2024 Most I...,Estonia,Professor Lisa,Wilson [Short],...,8441.0,"Mak Ahmad, Christian Daube, and 13 other mutua...",https://media.licdn.com/dms/image/D4E03AQHzmNS...,NaN,NaN,NaN,NaN,NaN,NaN,NaN
503,https://linkedin.com/in/ramin-amirov,Ramin Amirov - mytheresa.com,https://www.linkedin.com/in/ramin-amirov/,romichamir@gmail.com,https://www.linkedin.com/in/ramin-amirov/,"An enthusiastic, adaptive and open-minded pers...",Marketing Analyst,Germany,Ramin,Amirov,...,715.0,"Sonya Pobiedimska, Matti 🥑 Schurr, and 4 other...",https://media.licdn.com/dms/image/C4E03AQGIzl_...,NaN,romichamir@gmail.com,NaN,NaN,NaN,https://phantombuster.s3.amazonaws.com/nitYe1s...,NaN
340,https://linkedin.com/in/mauriced%C3%BCcker,Maurice D. – Product Manager – Enter,https://www.linkedin.com/in/mauriced%C3%BCcker/,NaN,https://www.linkedin.com/in/mauriced%C3%BCcker/,"Hi, my name is Maurice. I love building and gr...",Product @Enter | YouTube,"Berlin, Berlin, Germany",Maurice,Dücker,...,6608.0,"Nataliia Senatorova, Pasquale Romito, and 293 ...",https://media.licdn.com/dms/image/D4E03AQHILMV...,youtube.com/channel/UClEiSk-tL3NR7O7-ZuVqvFw,NaN,"Nov 13, 2023",NaN,NaN,https://phantombuster.s3.amazonaws.com/nitYe1s...,NaN
44,https://linkedin.com/in/komal-singh-b9608a219,Komal Singh – Courier service – Wolt,https://www.linkedin.com/in/komal-singh-b9608a...,NaN,https://www.linkedin.com/in/komal-singh-b9608a...,NaN,Student at Berlin School of Business & Innovat...,"Berlin, Berlin, Germany",Komal,Singh,...,81.0,"Sofia De Nadai, Dawid Marchewczyk, and 1 other...",https://media.licdn.com/dms/image/C5603AQF8Gva...,NaN,NaN,NaN,NaN,NaN,NaN,NaN
77,https://linkedin.com/in/cemaltoprak/en,Cemal Toprak - Candidate Experience Specialist,NaN,NaN,NaN,NaN,"Candidate Experience Specialist, Human Resourc...",Berlin Metropolitan Area,Cemal,Toprak,...,1910.0,"Valentin Klein, Carlo Cantarini, and 13 other ...",https://media.licdn.com/dms/image/C4D03AQGnEhI...,NaN,NaN,NaN,NaN,NaN,NaN,NaN
395,https://linkedin.com/in/ivankwj,Ivan Kow – Delivery Hero,https://www.linkedin.com/in/ivankwj/,NaN,https://www.linkedin.com/in/ivankwj/,I am a Product Manager with background in prod...,Delivery Hero | ESADE-Kellogg MBA | Product Ma...,Berlin Metropolitan Area,Ivan,Kow,...,1414.0,"Nijil David Abraham, Robert Chokr, and 2 other...",https://media.licdn.com/dms/image/C5103AQEzmbP...,ivankow.com,NaN,NaN,NaN,NaN,https://phantombuster.s3.amazonaws.com/nitYe1s...,NaN
306,https://linkedin.com/in/vignesh-kalimuthu,Vignesh Kalimuthu - super.AI,https://www.linkedin.com/in/vignesh-kalimuthu/,NaN,https://www.linkedin.com/in/vignesh-kalimuthu/,Super.AI uses AI to automates the processing o...,Head of Growth & BD | AI automation,"Berlin, Berlin, Germany",Vignesh,Kalimuthu,...,4166.0,"Manu Raivio, Maria Jose Perea Marquez, and 19 ...",https://media.licdn.com/dms/image/C4D03AQG_5a8...,NaN,NaN,NaN,NaN,NaN,https://phantombuster.s3.amazonaws.com/nitYe1s...,NaN
115,https://linkedin.com/in/martaosowiecka,Marta Osowiecka – Product Designer – Early sta...,https://www.linkedin.com/in/martaosowiecka/,NaN,https://www.linkedin.com/in/martaosowiecka/,🚀Product Designer at an early-stage startup wi...,Product Designer (UX/UI) // SaaS // Background...,"Berlin, Berlin, Germany",Marta,Osowiecka,...,684.0,"Miguel Leon Gutierrez, Emilie Wong, and 13 oth...",https://media.licdn.com/dms/image/D4E03AQF0OqK...,martaosowiecka.com/,NaN,NaN,NaN,NaN,NaN,NaN
213,https://linkedin.com/in/kelly-hsu-23a528125,Kelly Hsu – SoundCloud,https://www.linkedin.com/in/kelly-hsu-23a528125/,NaN,https://www.linkedin.com/in/kelly-hsu-23a528125/,NaN,Product Manager at SoundCloud,"Berlin, Berlin, Germany",Kelly,Hsu,...,NaN,"Tobias R., Ankit Saigal, and 2 other mutual co...",https://media.licdn.com/dms/image/D4E03AQFemm7...,NaN,NaN,NaN,NaN,NaN,https://phantombuster.s3.amazonaws.com/nitYe1s...,NaN
325,https://linkedin.com/in/valeria-flores-ducoing,Valeria Flores-Ducoing – One Young World,https://www.linkedin.com/in/valeria-flores-duc...,NaN,https://www.linkedin.com/in/valeria-flores-duc...,NaN,Business Controller | OYW Ambassador | MBA @ E...,"Berlin, Berlin, Germany",Valeria,Flores-Ducoing,...,454.0,Yorgo Alachkar is a mutual connection,https://media.licdn.com/dms/image/C4E03AQGtI5W...,NaN,NaN,NaN,NaN,NaN,https://phantombuster.s3.amazonaws.com/nitYe1s...,NaN
481,https://linkedin.com/in/kristina-rizcat,Kristina Riz Ruseva - SPICED Academy,https://www.linkedin.com/in/kristina-rizcat/,kristina.rizcat@gmail.com,https://www.linkedin.com/in/kristina-rizcat/,My professional development so far has been a ...,Product Designer & Workshop Facilitator,"Berlin, Berlin, Germany",Kristina Riz,Ruseva,...,627.0,"Carlo Cantarini, Vieri Fidanza, and 19 other m...",https://media.licdn.com/dms/image/D4D03AQHbAV0...,kristinaruseva.myportfolio.com/,kristina.rizcat@gmail.com,"Mar 3, 2024",NaN,NaN,https://phantombuster.s3.amazonaws.com/nitYe1s...,NaN
266,https://linkedin.com/in/ninamannheimer,Nina Mannheimer - Klim,https://www.linkedin.com/in/ninamannheimer/,ninamannheimer@mac.com,https://www.linkedin.com/in/ninamannheimer/,I'm passionate about building products for imp...,Co-founder & CPO at Klim ⎢Scaling Regenerative...,Berlin Metropolitan Area,Nina,Mannheimer,...,5514.0,"John Ismailoglu, Valerian Gegidze, and 154 oth...",https://media.licdn.com/dms/image/C4E03AQHtePv...,NaN,ninamannheimer@mac.com,"Jun 20, 2023",NaN,NaN,https://phantombuster.s3.amazonaws.com/nitYe1s...,NaN
101,https://linkedin.com/in/blen-baheru-28685b232,Blen Baheru – Geschäftsführer – The Injera Com...,https://www.linkedin.com/in/blen-baheru-28685b...,NaN,https://www.linkedin.com/in/blen-baheru-28685b...,NaN,Geschäftsführer bei The Injera Company GmbH,"Berlin, Berlin, Germany",Blen,Baheru,...,57.0,Tauheed Ahmed is a mutual connection,https://media.licdn.com/dms/image/C4E03AQFF0w8...,NaN,NaN,NaN,NaN,NaN,NaN,NaN
482,https://linkedin.com/in/philipp-baumer-6b6848145,Philipp Baumer - thermondo,https://www.linkedin.com/in/philipp-baumer-6b6...,philipp.baumer@gmail.com,https://www.linkedin.com/in/philipp-baumer-6b6...,NaN,Product @ Thermondo,"Berlin, Berlin, Germany",Philipp,Baumer,...,1115.0,"Armin Krahl, Mirela Mus, and 31 other mutual c...",https://media.licdn.com/dms/image/D4E03AQE2DTX...,NaN,philipp.baumer@gmail.com,"Jan 27, 2024",NaN,NaN,https://phantombuster.s3.amazonaws.com/nitYe1s...,NaN

In [143]:
data_events_series = pd.read_csv("../raw_data/BPM Events list people.csv")
data_events_series.head()

,Contacts,# registered,# cancel,# attended,# strike count,Active,Name,Surname,1,2,3,4,5,6,7,8,9,10,11,12
0,miji.lee.kr@hotmail.com,3,0,5,-2,True,Miji,Lee,1,1,1,0,1,1,0,0,0,0,0,0
1,aleksej.ruckoj@gmail.com,3,0,5,-2,True,Aleksej,Ruckoj,1,1,1,0,1,1,0,0,0,0,0,0
2,Aleksej.Ruckoj@gmail.com,3,0,5,-2,True,Aleksej,Ruckoj,1,1,1,0,1,1,0,0,0,0,0,0
3,zulfia@malyshenko.com,2,1,4,-3,True,Zulfiya,Malyshenko,1,0,0,1,1,1,0,0,0,0,0,0
4,kumari.nisha.de@gmail.com,2,0,4,-2,True,Nisha,Kumari,0,1,1,0,1,1,0,0,0,0,0,0

In [25]:
data_events_series.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 999 entries, 0 to 998
Data columns (total 20 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Contacts        746 non-null    object
 1   # registered    999 non-null    int64
 2   # cancel        999 non-null    int64
 3   # attended      999 non-null    int64
 4   # strike count  999 non-null    int64
 5   Active          999 non-null    bool
 6   Name            746 non-null    object
 7   Surname         746 non-null    object
 8   1               999 non-null    int64
 9   2               999 non-null    int64
 10  3               999 non-null    int64
 11  4               999 non-null    int64
 12  5               999 non-null    int64
 13  6               999 non-null    int64
 14  7               999 non-null    int64
 15  8               999 non-null    int64
 16  9               999 non-null    int64
 17  10              999 non-null    int64
 18  11              999 non-null    int64
 19  12              999 non-null    int64
dtypes: bool(1), int64(16), object(3)
memory usage: 149.4+ KB

### Processing function for names

In [144]:
import unicodedata

def process_name(name):

    # replace NaN with an empty string
    if pd.isna(name):
        return ''
    # strip dots and spaces and get only the longest/first word
    words = name.lower().strip(" .").split()

    # Initialize variables to keep track of the longest word
    longest_word = ''
    longest_length = 0

    # Iterate through each word
    for word in words:
        # If the current word is longer than the longest word found so far, or if it's equal in length but appears earlier
        if len(word) > longest_length or (len(word) == longest_length and words.index(word) < words.index(longest_word)):
            longest_word = word
            longest_length = len(word)
    
    # Normalize the string to decomposed Unicode form
    normalized_s = unicodedata.normalize('NFD', longest_word)
    
    # Remove non-spacing marks (special characters)
    stripped_s = ''.join(c for c in normalized_s if unicodedata.category(c) != 'Mn')
    
    return stripped_s

In [122]:
process_name('Pöñnpp îkljhsfgsg')

'ikljhsfgsg'

In [145]:
data_scraped.firstName = data_scraped.firstName.apply(process_name)

In [146]:
data_scraped.lastName = data_scraped.lastName.apply(process_name)

In [147]:
data_scraped.fullName = data_scraped.firstName + ' ' + data_scraped.lastName
data_scraped.fullName

0             patrick beeker
1               teena kumari
2           mischa gawronski
3                 shuvam sah
4             ayman chalhoub
               ...
499           lydia dietrich
500        busayomi omotosho
501    schultz-zehden angela
502          abhishek khatri
503             ramin amirov
Name: fullName, Length: 504, dtype: object

In [148]:
data_events_ppl["First Name"] = data_events_ppl["First Name"].apply(process_name)
data_events_ppl["Surname"] = data_events_ppl["Surname"].apply(process_name)

In [149]:
data_events_ppl["fullName"] = data_events_ppl["First Name"] + ' ' + data_events_ppl["Surname"]
data_events_ppl.fullName

0            patrick beeker
1              teena kumari
2                nesha siwi
3                shuvam sah
4            ayman chalhoub
               ...
1062            max beitler
1063    georgiana ciobotaru
1064          manizeh dossa
1065           angela garay
1066         valentin klein
Name: fullName, Length: 1067, dtype: object

## Aggregate attendees by their name and give every one unique ID. 
Store just the number of events they've attended

In [150]:
data_events_ppl.Event = data_events_ppl.Event.apply(lambda x: 0 if x == 0 else 1)

In [151]:
data_events_ppl.sample(15)

,Event,First Name,Surname,Email,Attendee Status,Your Job Position,Choose your role,Choose your role.1,Seniority,How did you hear from us?,Company,Rain,Day,Location,fullName
54,1,mandy,le,mandy.le@gmx.net,Not Attending,NaN,NaN,NaN,NaN,NaN,"TU-Berlin, Sweap",Yes,Tuesday,Berlin,mandy le
951,1,gautami,pandit,gautami.pandit97@gmail.com,Checked In,Marketing,NaN,Product Marketing,NaN,Word of Mouth / Referral,Student,Yes,Thursday,Berlin,gautami pandit
430,1,manu,raivio,manu@manuraivio.com,Checked In,Product,NaN,Director of Product,Director,Lenny's Newsletter,Independent,Yes,Thursday,Berlin,manu raivio
906,1,alexander,fife,alexanderfife@outlook.com,Not Attending,NaN,NaN,NaN,NaN,NaN,Frank&dick,Yes,Thursday,Berlin,alexander fife
72,1,leon,gerdes,leon.gerdes@gmail.com,Not Attending,NaN,NaN,NaN,NaN,NaN,Scalable Capital,Yes,Tuesday,Berlin,leon gerdes
153,1,maria,muga,mmugaesp@gmail.com,Checked In,Design,NaN,NaN,NaN,LinkedIn,Ampero GmbH,Yes,Tuesday,Berlin,maria muga
806,1,roland,butler,Rolandbtlr1@gmail.com,Checked In,Product,Head of Product,NaN,NaN,Word of Mouth / Referral,Zalando,No,Thursday,Berlin,roland butler
330,1,miriam,hutter,hutter.miriam@gmail.com,Checked In,NaN,Product manager / user researcher,NaN,NaN,NaN,Epikur,No,Thursday,Berlin,miriam hutter
1056,1,nada,elnadi,nada.elnadii27@gmail.com,Checked In,Design,NaN,NaN,NaN,LinkedIn,Velents,Yes,Thursday,Berlin,nada elnadi
1033,1,sahil,aggarwal,sahil478@gmail.com,Checked In,Data Analytics,NaN,NaN,NaN,Word of Mouth / Referral,JustEat Takeaway,Yes,Thursday,Berlin,sahil aggarwal
844,1,simon,hicks,hicks.simon.1@gmail.com,Checked In,Product,Product Manager,NaN,NaN,Word of Mouth / Referral,Inhabit,No,Thursday,Berlin,simon hicks
307,1,javier,inocente,javinocente@gmail.com,Checked In,NaN,Prodt manager,NaN,NaN,LinkedIn,Toshiapp,No,Thursday,Berlin,javier inocente
300,1,thomas,seidl,thomas@anni.care,Not Attending,NaN,Co-Founder / CPO,NaN,CxO,NaN,anni.care,No,Thursday,Berlin,thomas seidl
34,1,sanjiv,murali,myemailforums@gmail.com,Attending,Product,Product Manager,NaN,NaN,Slack,Hometogo,Yes,Tuesday,Berlin,sanjiv murali
618,1,elroy,chibex,elroychibex@gmail.com,Attending,Design,NaN,NaN,NaN,LinkedIn,commerecetools,No,Thursday,Berlin,elroy chibex

In [152]:
# Define a custom function to get the first non-null value
def first_non_null(series):
    return series.dropna().iloc[0] if not series.dropna().empty else None

In [160]:
unique_attendees = data_events_ppl.groupby(by='fullName', as_index=False)\
                                  .agg({'Event': 'count',
                                        'Email': 'first',
                                        'Company': 'first',
                                       'Choose your role':first_non_null,
                                       'Choose your role.1':first_non_null,
                                       'First Name':first_non_null,
                                       'Surname':first_non_null})
unique_attendees["numEvents"] = unique_attendees.Event

# Index in this table is now the user ID
unique_attendees['UserID'] = unique_attendees.index

In [161]:
unique_attendees.sample(15)

,fullName,Event,Email,Company,Choose your role,Choose your role.1,First Name,Surname,numEvents,UserID
437,michele cerullo,1,michele.cerullo@sensirion.com,Sensirion Connected Solutions,None,None,michele,cerullo,1,437
31,alex simukovic,3,alex.simukovic@adjust.com,Adjust,Product Manager,None,alex,simukovic,3,31
355,krutika gopalakrishnan,1,krutikagopalakrishnan@gmail.com,Mercedes pay,None,Marketing Associate,krutika,gopalakrishnan,1,355
376,luisa suda,3,lnsuda@gmail.com,Humanoo,Product Owner,None,luisa,suda,3,376
93,attia mo,3,atiamohamedein@gmail.com,Vestiaire Collective,Product Manager,None,attia,mo,3,93
539,ranjith naik,2,ranjith.innov@gmail.com,bbw,None,None,ranjith,naik,2,539
182,diana kryuchkova,1,d.kriuchkv@gmail.com,Distribusion,None,None,diana,kryuchkova,1,182
684,victor semencenco,1,victor.semencenco@gmail.com,Verkstedt,None,None,victor,semencenco,1,684
663,tom laufer,1,tom@getloops.ai,Loops,None,None,tom,laufer,1,663
530,radomir sebek,2,rasho.ieee@gmail.com,Company,None,None,radomir,sebek,2,530
136,charles vestal,1,charlesv@gmail.com,Memfault,None,None,charles,vestal,1,136
422,maurice ducker,2,maurice.duecker@gmail.com,Enter,Product Manager,Product Manager,maurice,ducker,2,422
192,ekaterina zenkevich,1,Ekaterina.Zenkevich@gmail.com,Getsafe Digital GmbH,Product Manager,None,ekaterina,zenkevich,1,192
545,riccardo jacob,1,riccardo.jacob96@gmail.com,Semigator GmbH,Product Owner,None,riccardo,jacob,1,545
317,jiun lu,1,nicolelu1109@gmail.com,ESMT berlin,None,None,jiun,lu,1,317

In [186]:
# we have numEvents now instead
unique_attendees = unique_attendees.drop(labels='Event',axis=1)
unique_attendees

KeyError: "['Event'] not found in axis"

In [176]:
unique_attendees["Company"] = unique_attendees["Company"].apply(process_name)
unique_attendees

,fullName,Email,Company,Choose your role,Choose your role.1,First Name,Surname,numEvents,UserID
0,abdelrahman elfar,abdelrahman.alfar@gmail.com,sap,Product Manager,None,abdelrahman,elfar,2,0
1,abdo wahba,abdelrahman.wahba@gmail.com,,None,None,abdo,wahba,1,1
2,abhishek agarwal,aggyabhishek@gmail.com,appreciate,None,None,abhishek,agarwal,1,2
3,abhishek khatri,abhishekkhatri@hotmail.com,zalando,None,None,abhishek,khatri,1,3
4,abhishek wabale,abhishekwabale0712@gmail.com,tenera,Working student,None,abhishek,wabale,2,4
...,...,...,...,...,...,...,...,...,...
720,zimmermann jennifer,zimmermannjennifer43@gmail.com,gsgsg,None,None,zimmermann,jennifer,1,720
721,ziyad mohiyudheen,mmziyad@gmail.com,group,None,None,ziyad,mohiyudheen,2,721
722,zsolt pap,papjanoszsolt@yahoo.com,axkro,eCommerce Manager,None,zsolt,pap,1,722
723,zsolt szrapko,szrapko.zsolt+eventbrite@gmail.com,goto,Product Manager,None,zsolt,szrapko,1,723
724,zulfiya malyshenko,zulfia@malyshenko.com,ex-moss,Product Manager,None,zulfiya,malyshenko,5,724

### Add corresponding User ID by the name to the first two tables and then merge them

In [185]:
data_events_ppl.merge(unique_attendees[["UserID","fullName"]], how = 'right',on = "fullName")

,Event,First Name,Surname,Email,Attendee Status,Your Job Position,Choose your role,Choose your role.1,Seniority,How did you hear from us?,Company,Rain,Day,Location,fullName,UserID
0,1,abdelrahman,elfar,abdelrahman.alfar@gmail.com,Checked In,Engineering,NaN,NaN,NaN,LinkedIn,SAP,Yes,Tuesday,Berlin,abdelrahman elfar,0
1,1,abdelrahman,elfar,abdelrahman.alfar@gmail.com,Checked In,Product,Product Manager,NaN,NaN,LinkedIn,Sap,No,Thursday,Berlin,abdelrahman elfar,0
2,1,abdo,wahba,abdelrahman.wahba@gmail.com,Attending,NaN,NaN,NaN,NaN,NaN,NaN,No,Thursday,Berlin,abdo wahba,1
3,1,abhishek,agarwal,aggyabhishek@gmail.com,Checked In,Founder / CXO,NaN,NaN,NaN,Word of Mouth / Referral,Appreciate Capital,No,Thursday,Berlin,abhishek agarwal,2
4,1,abhishek,khatri,abhishekkhatri@hotmail.com,Checked In,Other,NaN,NaN,NaN,LinkedIn,zalando,No,Thursday,Berlin,abhishek khatri,3
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1062,1,zulfiya,malyshenko,zulfia@malyshenko.com,Checked In,NaN,NaN,NaN,NaN,NaN,NaN,No,Thursday,Berlin,zulfiya malyshenko,724
1063,1,zulfiya,malyshenko,zulfia@malyshenko.com,Not Attending,NaN,NaN,NaN,NaN,NaN,ex-Moss,Yes,Thursday,Berlin,zulfiya malyshenko,724
1064,1,zulfiya,malyshenko,zulfia@malyshenko.com,Checked In,Product,Product Manager,NaN,NaN,LinkedIn,ex-Moss,No,Tuesday,Berlin,zulfiya malyshenko,724
1065,1,zulfiya,malyshenko,zulfia@malyshenko.com,Checked In,Product,Product Manager,NaN,NaN,LinkedIn,Looking for new opportinities,No,Thursday,Berlin,zulfiya malyshenko,724
1066,1,zulfiya,malyshenko,zulfia@malyshenko.com,Checked In,Product,Product Manager,NaN,NaN,LinkedIn,Looking for something new,Yes,Thursday,Berlin,zulfiya malyshenko,724

### Matching users with the data scraped from LinkedIn
It's a bit more challenging as the full name doesn't always match (only ~60% of cases), so we need a more sophisticated
matching algorithm

In [179]:
# Custom function to compare rows
def custom_user_matching(row_scraped, row_ids):
    # Compare if the full names match
    if row_scraped['fullName'] == row_ids['fullName']:
        return True

    # Compare the emails
    if row_scraped['email'] == row_ids['Email'] :
        return True

    if not pd.isna(row_scraped['company']):
        # Compare first or last name match AND the company match
        if (row_scraped['lastName'] in row_ids['Surname']) and ( not pd.isna(row_scraped['lastName'])) :
            if (row_ids['Company'] in row_scraped['company'].lower()) and ( len(row_ids['Company']) != 0):
                return True
        if (row_scraped['firstName'] in row_ids['First Name']) and ( not pd.isna(row_scraped['firstName'])) :
            if (row_ids['Company'] in row_scraped['company'].lower()) and ( len(row_ids['Company']) != 0):
                return True

In [180]:

data_scraped['UserID'] = float('nan')
# Iterate through each row in the ids DataFrame
for j, row_ids in unique_attendees.iterrows():
    # Iterate through each row in the scraped DataFrame
    for index_scraped, row_scraped in data_scraped.iterrows():
        # Check if the rows match using the custom matching function
        if custom_user_matching(row_scraped, row_ids):
            # If a match is found, add the userID from the ids DataFrame to the scraped DataFrame
            data_scraped.at[index_scraped, 'UserID'] = row_ids['UserID']
            break

data_scraped.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 504 entries, 0 to 503
Data columns (total 70 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   url                        499 non-null    object
 1   title                      499 non-null    object
 2   linkedinProfileUrl         460 non-null    object
 3   email                      138 non-null    object
 4   linkedinProfile            460 non-null    object
 5   description                350 non-null    object
 6   headline                   488 non-null    object
 7   location                   488 non-null    object
 8   firstName                  504 non-null    object
 9   lastName                   504 non-null    object
 10  fullName                   504 non-null    object
 11  connectionDegree           488 non-null    object
 12  vmid                       488 non-null    object
 13  userId                     488 non-null    float64
 14  linkedinSalesNavigatorUrl  488 non-null    object
 15  connectionsCount           458 non-null    float64
 16  connectionsUrl             488 non-null    object
 17  mutualConnectionsUrl       488 non-null    object
 18  company                    481 non-null    object
 19  companyUrl                 438 non-null    object
 20  jobTitle                   480 non-null    object
 21  jobDescription             311 non-null    object
 22  jobLocation                412 non-null    object
 23  jobDateRange               478 non-null    object
 24  jobDuration                477 non-null    object
 25  company2                   472 non-null    object
 26  companyUrl2                427 non-null    object
 27  jobTitle2                  471 non-null    object
 28  jobDescription2            377 non-null    object
 29  jobLocation2               399 non-null    object
 30  jobDateRange2              471 non-null    object
 31  jobDuration2               470 non-null    object
 32  school                     473 non-null    object
 33  schoolUrl                  429 non-null    object
 34  schoolDegree               463 non-null    object
 35  schoolDescription          223 non-null    object
 36  schoolDateRange            431 non-null    object
 37  school2                    396 non-null    object
 38  schoolUrl2                 327 non-null    object
 39  schoolDegree2              384 non-null    object
 40  schoolDescription2         172 non-null    object
 41  schoolDateRange2           358 non-null    object
 42  birthday                   203 non-null    object
 43  allSkills                  468 non-null    object
 44  skill1                     468 non-null    object
 45  endorsement1               278 non-null    float64
 46  skill2                     466 non-null    object
 47  endorsement2               289 non-null    float64
 48  skill3                     464 non-null    object
 49  endorsement3               276 non-null    float64
 50  skill4                     460 non-null    object
 51  endorsement4               270 non-null    float64
 52  skill5                     458 non-null    object
 53  endorsement5               263 non-null    float64
 54  skill6                     456 non-null    object
 55  endorsement6               282 non-null    float64
 56  baseUrl                    499 non-null    object
 57  profileId                  488 non-null    object
 58  timestamp                  504 non-null    object
 59  subscribers                438 non-null    float64
 60  mutualConnectionsText      427 non-null    object
 61  imgUrl                     467 non-null    object
 62  website                    136 non-null    object
 63  mail                       138 non-null    object
 64  connectedOn                144 non-null    object
 65  error                      6 non-null      object
 66  phoneNumber                26 non-null     object
 67  partialScreenshot          297 non-null    object
 68  facebookUrl                1 non-null      object
 69  UserID                     392 non-null    float64
dtypes: float64(10), object(60)
memory usage: 275.8+ KB

In [181]:
# Drop rows with NaN values in the 'UserID' column
data_merged = data_scraped.dropna(subset=['UserID'])

In [182]:
data_merged.sample(10)

,url,title,linkedinProfileUrl,email,linkedinProfile,description,headline,location,firstName,lastName,...,mutualConnectionsText,imgUrl,website,mail,connectedOn,error,phoneNumber,partialScreenshot,facebookUrl,UserID
412,https://linkedin.com/in/anne-bauer-331726218,Anne Bauer – Referentin – Bundesinstitut für B...,https://www.linkedin.com/in/anne-bauer-331726218/,NaN,https://www.linkedin.com/in/anne-bauer-331726218/,Architektin // Hochbaureferendariat // 2. Staa...,--,"Cologne, North Rhine-Westphalia, Germany",anne,bauer,...,NaN,https://media.licdn.com/dms/image/C4D03AQFhjkl...,NaN,NaN,NaN,NaN,NaN,https://phantombuster.s3.amazonaws.com/nitYe1s...,NaN,77.0
291,https://linkedin.com/in/rororo,Robert Lange - Juni,https://www.linkedin.com/in/rororo/,robertlangemd@gmail.com,https://www.linkedin.com/in/rororo/,NaN,Design Director at Juni,"Berlin, Berlin, Germany",robert,lange,...,"Max Beitler, Jack Lancaster, and 21 other mutu...",https://media.licdn.com/dms/image/C4D03AQHAhm-...,NaN,robertlangemd@gmail.com,"Nov 23, 2023",NaN,NaN,https://phantombuster.s3.amazonaws.com/nitYe1s...,NaN,549.0
96,https://linkedin.com/in/abdelrahman-elfar-1546...,Abdelrahman Elfar - SAP,https://www.linkedin.com/in/abdelrahman-elfar-...,NaN,https://www.linkedin.com/in/abdelrahman-elfar-...,Experienced Software Engineer with a demonstra...,Senior Software Developer at SAP,"Berlin, Berlin, Germany",abdelrahman,elfar,...,"Carlo Cantarini, Mohamed Salah, and 6 other mu...",https://media.licdn.com/dms/image/D4E03AQGMD5N...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0
105,https://linkedin.com/in/jngo,John Ngo - McKinsey & Company,https://www.linkedin.com/in/jngo/,NaN,https://www.linkedin.com/in/jngo/,"I talk to customers, align stakeholders, desig...",Leading teams to deliver exceptional customer ...,"Berlin, Berlin, Germany",john,ngo,...,"Carlo Cantarini, John Cutler, and 8 other mutu...",https://media.licdn.com/dms/image/C4D03AQG5vfY...,john.ngo/,NaN,NaN,NaN,NaN,NaN,NaN,323.0
216,https://linkedin.com/in/nicola-di-nardo/en,Nicola Di Nardo - Feedel Ventures,NaN,NaN,NaN,"Hi there, I'm Nico, I've got a background in s...",Human Being | CTO @ Feedel Ventures | Co-Found...,"Berlin, Berlin, Germany",nicola,nardo,...,"Federico Pedron, ADIL SAGHIR, and 3 other mutu...",https://media.licdn.com/dms/image/C4D03AQFfFgp...,NaN,NaN,NaN,NaN,NaN,https://phantombuster.s3.amazonaws.com/nitYe1s...,NaN,476.0
500,https://linkedin.com/in/busayomi-omotosho-1ab4...,Busayomi Omotosho - Hexad GmbH,https://www.linkedin.com/in/busayomi-omotosho-...,busayomiomotosho10@gmail.com,https://www.linkedin.com/in/busayomi-omotosho-...,Hello there! I'm Busayomi. \n\nI have been a p...,Product management | B2B | B2C | Product manag...,"Berlin, Berlin, Germany",busayomi,omotosho,...,"Esther Kim Trapadoux, Dominik Kress, and 36 ot...",https://media.licdn.com/dms/image/D4E03AQEdfdC...,NaN,busayomiomotosho10@gmail.com,"Nov 9, 2023",NaN,NaN,https://phantombuster.s3.amazonaws.com/nitYe1s...,NaN,121.0
365,https://linkedin.com/in/wallybiz,"Wally L. – Product Manager, Global Supplier Te...",https://www.linkedin.com/in/wallyproductmanager/,NaN,https://www.linkedin.com/in/wallyproductmanager/,"A results-driven Product Manager, specializing...",Product Manager | E-Commerce | Supply Chain Da...,"Berlin, Berlin, Germany",wally,l,...,"Joy Chatterjee, Carlo Cantarini, and 5 other m...",https://media.licdn.com/dms/image/C5603AQHsqdf...,NaN,NaN,NaN,NaN,NaN,https://phantombuster.s3.amazonaws.com/nitYe1s...,NaN,697.0
115,https://linkedin.com/in/martaosowiecka,Marta Osowiecka – Product Designer – Early sta...,https://www.linkedin.com/in/martaosowiecka/,NaN,https://www.linkedin.com/in/martaosowiecka/,🚀Product Designer at an early-stage startup wi...,Product Designer (UX/UI) // SaaS // Background...,"Berlin, Berlin, Germany",marta,osowiecka,...,"Miguel Leon Gutierrez, Emilie Wong, and 13 oth...",https://media.licdn.com/dms/image/D4E03AQF0OqK...,martaosowiecka.com/,NaN,NaN,NaN,NaN,NaN,NaN,406.0
29,https://linkedin.com/in/sanjivmurali,Sanjiv Murali - HomeToGo,https://www.linkedin.com/in/sanjivmurali/,sanrup.sanjiv@gmail.com,https://www.linkedin.com/in/sanjivmurali/,"Hello,\nSanjiv here, a Strategy & Product Enth...",Product Manager | Tech Consulting | Digital Tr...,"Berlin, Berlin, Germany",sanjiv,murali,...,"Prajwal Negapettam, Kristina Sharygina, and 29...",https://media.licdn.com/dms/image/D5603AQEq8a_...,NaN,sanrup.sanjiv@gmail.com,NaN,NaN,NaN,NaN,NaN,582.0
186,https://linkedin.com/in/heorhi-talochka,Heorhi Talochka - Adyen,https://www.linkedin.com/in/heorhi-talochka/,NaN,https://www.linkedin.com/in/heorhi-talochka/,“You must be ready to burn yourself in your ow...,Payments Consultant at Adyen | Helping busines...,"Berlin, Berlin, Germany",heorhi,talochka,...,"Simon Hammer, Jonathan Eade, and 2 other mutua...",https://media.licdn.com/dms/image/D4E03AQFFNuh...,adyen.com/contact/sales,NaN,NaN,NaN,NaN,NaN,NaN,266.0

In [ ]:
data_scraped.merge(unique_attendees, on = "UserID")

In [74]:
data_scraped.merge(unique_attendees, how="left", on = "fullName")

,url,title,linkedinProfileUrl,email,linkedinProfile,description,headline,location,firstName,lastName,...,imgUrl,website,mail,connectedOn,error,phoneNumber,partialScreenshot,facebookUrl,numEvents,UserID
0,https://linkedin.com/in/patrick-beeker-4673311,Patrick Beeker,https://www.linkedin.com/in/patrick-beeker-467...,NaN,https://www.linkedin.com/in/patrick-beeker-467...,Experienced professional with the ability to c...,"General Manager - US Finance, Legal, HR, Accou...","Carrollton, Texas, United States",patrick,beeker,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2.0,519.0
1,https://linkedin.com/in/teena-kumari-0b8359271,Teena Kumari – Tech product support intern – H...,https://www.linkedin.com/in/teena-kumari-0b835...,NaN,https://www.linkedin.com/in/teena-kumari-0b835...,"I am a Product Owner at World Simplified UG, a...",Tech product support intern at Holidu,"Berlin, Berlin, Germany",teena,kumari,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2.0,657.0
2,https://linkedin.com/in/mischagawronski,Mischa Gawronski – Creative Director – Freelance,https://www.linkedin.com/in/mischagawronski/,NaN,https://www.linkedin.com/in/mischagawronski/,Passionate and challenging influencer in strat...,IGP Network | Creative Director,"Berlin, Berlin, Germany",mischa,gawronski,...,https://media.licdn.com/dms/image/C5603AQHb9Mw...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,https://linkedin.com/in/shuvam-kumar-sah-88590...,Shuvam Kumar Sah – Web Designer,https://www.linkedin.com/in/shuvam-kumar-sah-8...,NaN,https://www.linkedin.com/in/shuvam-kumar-sah-8...,Designer & Problem Solver | CS Student | Aimin...,Making Interfaces Sexier - UI/UX/Dev,"Berlin, Berlin, Germany",shuvam kumar,sah,...,https://media.licdn.com/dms/image/D4E03AQFcJ48...,dribbble.com/shuvam_sah,NaN,NaN,NaN,NaN,NaN,NaN,1.0,623.0
4,https://linkedin.com/in/chalhoub,Ayman Chalhoub - Clink,https://www.linkedin.com/in/chalhoub/,NaN,https://www.linkedin.com/in/chalhoub/,NaN,Product & Growth,"Berlin, Berlin, Germany",ayman,chalhoub,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2.0,98.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
499,https://linkedin.com/in/lydia-dietrich,Lydia Dietrich - Product Manager - GoStudent,https://www.linkedin.com/in/lydia-dietrich/,NaN,https://www.linkedin.com/in/lydia-dietrich/,NaN,Product Manager at GoStudent,"Berlin, Berlin, Germany",lydia,dietrich,...,https://media.licdn.com/dms/image/C4D03AQHU75_...,NaN,NaN,NaN,NaN,NaN,https://phantombuster.s3.amazonaws.com/nitYe1s...,NaN,1.0,381.0
500,https://linkedin.com/in/busayomi-omotosho-1ab4...,Busayomi Omotosho - Hexad GmbH,https://www.linkedin.com/in/busayomi-omotosho-...,busayomiomotosho10@gmail.com,https://www.linkedin.com/in/busayomi-omotosho-...,Hello there! I'm Busayomi. \n\nI have been a p...,Product management | B2B | B2C | Product manag...,"Berlin, Berlin, Germany",busayomi,omotosho,...,https://media.licdn.com/dms/image/D4E03AQEdfdC...,NaN,busayomiomotosho10@gmail.com,"Nov 9, 2023",NaN,NaN,https://phantombuster.s3.amazonaws.com/nitYe1s...,NaN,2.0,121.0
501,https://linkedin.com/in/schultz-zehden-angela-...,Schultz-Zehden Angela - SUBMARINER Network for...,https://www.linkedin.com/in/schultz-zehden-ang...,NaN,https://www.linkedin.com/in/schultz-zehden-ang...,NaN,Unternehmensinhaber s.Pro GmbH,Berlin Metropolitan Area,schultz-zehden,angela,...,https://media.licdn.com/dms/image/C5603AQH7y4I...,sustainable-projects.eu,NaN,NaN,NaN,NaN,https://phantombuster.s3.amazonaws.com/nitYe1s...,NaN,NaN,NaN
502,https://linkedin.com/in/abhishek-khatri-015255...,Abhishek Khatri – Zalando,NaN,NaN,NaN,PID-IT | SICHERES POPM | PSM | AGILER COACH | ...,"Senior Program Manager @ Zalando | PGD-IT, PRI...",Berlin Metropolitan Area,abhishek,khatri,...,https://media.licdn.com/dms/image/D4D03AQHwVsy...,NaN,NaN,NaN,NaN,NaN,https://phantombuster.s3.amazonaws.com/nitYe1s...,NaN,1.0,3.0
503,https://linkedin.com/in/ramin-amirov,Ramin Amirov - mytheresa.com,https://www.linkedin.com/in/ramin-amirov/,romichamir@gmail.com,https://www.linkedin.com/in/ramin-amirov/,"An enthusiastic, adaptive and open-minded pers...",Marketing Analyst,Germany,ramin,amirov,...,https://media.licdn.com/dms/image/C4E03AQGIzl_...,NaN,romichamir@gmail.com,NaN,NaN,NaN,https://phantombuster.s3.amazonaws.com/nitYe1s...,NaN,1.0,542.0

In [75]:
data_scraped.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 504 entries, 0 to 503
Data columns (total 71 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   url                        499 non-null    object
 1   title                      499 non-null    object
 2   linkedinProfileUrl         460 non-null    object
 3   email                      138 non-null    object
 4   linkedinProfile            460 non-null    object
 5   description                350 non-null    object
 6   headline                   488 non-null    object
 7   location                   488 non-null    object
 8   firstName                  488 non-null    object
 9   lastName                   488 non-null    object
 10  fullName                   488 non-null    object
 11  connectionDegree           488 non-null    object
 12  vmid                       488 non-null    object
 13  userId                     488 non-null    float64
 14  linkedinSalesNavigatorUrl  488 non-null    object
 15  connectionsCount           458 non-null    float64
 16  connectionsUrl             488 non-null    object
 17  mutualConnectionsUrl       488 non-null    object
 18  company                    481 non-null    object
 19  companyUrl                 438 non-null    object
 20  jobTitle                   480 non-null    object
 21  jobDescription             311 non-null    object
 22  jobLocation                412 non-null    object
 23  jobDateRange               478 non-null    object
 24  jobDuration                477 non-null    object
 25  company2                   472 non-null    object
 26  companyUrl2                427 non-null    object
 27  jobTitle2                  471 non-null    object
 28  jobDescription2            377 non-null    object
 29  jobLocation2               399 non-null    object
 30  jobDateRange2              471 non-null    object
 31  jobDuration2               470 non-null    object
 32  school                     473 non-null    object
 33  schoolUrl                  429 non-null    object
 34  schoolDegree               463 non-null    object
 35  schoolDescription          223 non-null    object
 36  schoolDateRange            431 non-null    object
 37  school2                    396 non-null    object
 38  schoolUrl2                 327 non-null    object
 39  schoolDegree2              384 non-null    object
 40  schoolDescription2         172 non-null    object
 41  schoolDateRange2           358 non-null    object
 42  birthday                   203 non-null    object
 43  allSkills                  468 non-null    object
 44  skill1                     468 non-null    object
 45  endorsement1               278 non-null    float64
 46  skill2                     466 non-null    object
 47  endorsement2               289 non-null    float64
 48  skill3                     464 non-null    object
 49  endorsement3               276 non-null    float64
 50  skill4                     460 non-null    object
 51  endorsement4               270 non-null    float64
 52  skill5                     458 non-null    object
 53  endorsement5               263 non-null    float64
 54  skill6                     456 non-null    object
 55  endorsement6               282 non-null    float64
 56  baseUrl                    499 non-null    object
 57  profileId                  488 non-null    object
 58  timestamp                  504 non-null    object
 59  subscribers                438 non-null    float64
 60  mutualConnectionsText      427 non-null    object
 61  imgUrl                     467 non-null    object
 62  website                    136 non-null    object
 63  mail                       138 non-null    object
 64  connectedOn                144 non-null    object
 65  error                      6 non-null      object
 66  phoneNumber                26 non-null     object
 67  partialScreenshot          297 non-null    object
 68  facebookUrl                1 non-null      object
 69  numEvents                  315 non-null    float64
 70  UserID                     315 non-null    float64
dtypes: float64(11), object(60)
memory usage: 279.7+ KB

In [165]:
data_scraped.company

0                                Orbis Systems
1                                       Holidu
2                                    Freelance
3                     A.T.E.M. Management GmbH
4                                        Clink
                        ...
499                                  GoStudent
500                                 Hexad GmbH
501    SUBMARINER Network for Blue Growth EEIG
502                                    Zalando
503                              mytheresa.com
Name: company, Length: 504, dtype: object