In [1]:
import pandas as pd
import os.path as Path
import numpy as np
import string as str
import unicodedata

In [142]:
def first_non_null(series):
    '''
    Utility function to get the first non-null value
    '''
    return series.dropna().iloc[0] if not series.dropna().empty else None


def process_name(name):
    '''
    Utility function to process names
    '''
    # replace NaN with an empty string
    if pd.isna(name):
        return ''
    # strip dots and spaces and get only the longest/first word
    words = name.lower().strip(" .").split()

    # Initialize variables to keep track of the longest word
    longest_word = ''
    longest_length = 0

    # Iterate through each word
    for word in words:
        # If the current word is longer than the longest word found so far, or if it's equal in length but appears earlier
        if len(word) > longest_length or (len(word) == longest_length and words.index(word) < words.index(longest_word)):
            longest_word = word
            longest_length = len(word)

    # Normalize the string to decomposed Unicode form
    normalized_s = unicodedata.normalize('NFD', longest_word)

    # Remove non-spacing marks (special characters)
    stripped_s = ''.join(c for c in normalized_s if unicodedata.category(c) != 'Mn')

    return stripped_s

In [179]:
data_events_ppl = pd.read_csv(Path.join("..", "raw_data", "raw_all.csv"))
data_events_ppl

,Event,First Name,Surname,Email,Attendee Status,Your Job Position,Choose your role,Choose your role.1,Seniority,How did you hear from us?,Company,Rain,Day
0,2,Patrick,Beeker,patrick.beeker@gmail.com,Attending,Product,Product Manager,NaN,NaN,BPM Meetup group,Smartbroker AG,Yes,Tuesday
1,2,Teena,Kumari,teena2768@gmail.com,Attending,Product,Product Manager,NaN,NaN,LinkedIn,World simplifed Ug,Yes,Tuesday
2,2,Nesha,Siwi,i@neshasiwi.de,Attending,Design,NaN,NaN,NaN,LinkedIn,Freelancer,Yes,Tuesday
3,2,Shuvam kumar,Sah,shuvamshah98152@gmail.com,Attending,Student,NaN,NaN,NaN,BPM Meetup group,ATEM,Yes,Tuesday
4,2,Ayman,Chalhoub,aymanc@gmail.com,Attending,Founder / CXO,NaN,NaN,NaN,Lenny's Newsletter,Clink,Yes,Tuesday
...,...,...,...,...,...,...,...,...,...,...,...,...,...
1199,7,Ira,Sheveleva,hiirinasheveleva@gmail.com,Checked In,Marketing,NaN,Product Marketing,NaN,Word of Mouth / Referral,Sticked,No,Tuesday
1200,7,Dominik,Wenzel,Dominik.wenzel@outlook.com,Checked In,Product,Product Manager,NaN,NaN,Handpicked Berlin,OpenToWork,No,Tuesday
1201,7,Marta,Osowiecka,m.osowiecka.m@gmail.com,Checked In,Design,NaN,NaN,NaN,Word of Mouth / Referral,SWAP,No,Tuesday
1202,7,akshay,rote,akshay.rote@gmail.com,Not Attending,NaN,NaN,NaN,NaN,NaN,PAIR Finance,No,Tuesday
1203,7,Johannes,Caspari,johannes@caspari5.de,Checked In,Founder / CxO,NaN,NaN,NaN,I know the organizers,Meryt,No,Tuesday

In [180]:
data_scraped = pd.read_csv(Path.join("..", "raw_data", "raw_scrapped.csv"))
data_scraped

,url,title,linkedinProfileUrl,email,linkedinProfile,description,headline,location,firstName,lastName,...,subscribers,mutualConnectionsText,imgUrl,website,mail,connectedOn,error,phoneNumber,partialScreenshot,facebookUrl
0,https://linkedin.com/in/patrick-beeker-4673311,Patrick Beeker,https://www.linkedin.com/in/patrick-beeker-467...,NaN,https://www.linkedin.com/in/patrick-beeker-467...,Experienced professional with the ability to c...,"General Manager - US Finance, Legal, HR, Accou...","Carrollton, Texas, United States",Patrick,Beeker,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,https://linkedin.com/in/teena-kumari-0b8359271,Teena Kumari – Tech product support intern – H...,https://www.linkedin.com/in/teena-kumari-0b835...,NaN,https://www.linkedin.com/in/teena-kumari-0b835...,"I am a Product Owner at World Simplified UG, a...",Tech product support intern at Holidu,"Berlin, Berlin, Germany",Teena,Kumari,...,1148.0,"Carlo Cantarini, Thomas Hartmann, and 28 other...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,https://linkedin.com/in/mischagawronski,Mischa Gawronski – Creative Director – Freelance,https://www.linkedin.com/in/mischagawronski/,NaN,https://www.linkedin.com/in/mischagawronski/,Passionate and challenging influencer in strat...,IGP Network | Creative Director,"Berlin, Berlin, Germany",Mischa,Gawronski,...,149.0,NaN,https://media.licdn.com/dms/image/C5603AQHb9Mw...,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,https://linkedin.com/in/shuvam-kumar-sah-88590...,Shuvam Kumar Sah – Web Designer,https://www.linkedin.com/in/shuvam-kumar-sah-8...,NaN,https://www.linkedin.com/in/shuvam-kumar-sah-8...,Designer & Problem Solver | CS Student | Aimin...,Making Interfaces Sexier - UI/UX/Dev,"Berlin, Berlin, Germany",Shuvam Kumar,Sah,...,467.0,🤖 Leon Meier and Nisha Kumari are mutual conne...,https://media.licdn.com/dms/image/D4E03AQFcJ48...,dribbble.com/shuvam_sah,NaN,NaN,NaN,NaN,NaN,NaN
4,https://linkedin.com/in/chalhoub,Ayman Chalhoub - Clink,https://www.linkedin.com/in/chalhoub/,NaN,https://www.linkedin.com/in/chalhoub/,NaN,Product & Growth,"Berlin, Berlin, Germany",Ayman,Chalhoub,...,1975.0,"Torben Schulz, Sonya Pobiedimska, and 2 other ...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
676,https://linkedin.com/in/alikhanmba,"Ali Akbar Khan, MBA - Delivery Hero",https://www.linkedin.com/in/alikhanmba/,NaN,https://www.linkedin.com/in/alikhanmba/,"Experienced CX and E-Commerce professional, wi...",Global Customer Experience,"Berlin, Berlin, Germany",Ali Akbar,"Khan, MBA",...,NaN,"Nick Mulder, Matteo Fava, and 1 other mutual c...",https://media.licdn.com/dms/image/C4E03AQHwf7j...,NaN,NaN,NaN,NaN,NaN,NaN,NaN
677,https://linkedin.com/in/daniellopezc,Daniel López Contreras - Masterschool,https://www.linkedin.com/in/daniellopezc/,NaN,https://www.linkedin.com/in/daniellopezc/,- 100% Customer oriented professional\n- Stron...,"Transforming Education, Customer Focused, avid...","Berlin, Berlin, Germany",Daniel,López Contreras,...,3160.0,"Marie NEANG, Fabian Tröltzsch, and 39 other mu...",https://media.licdn.com/dms/image/C4E03AQF_30k...,NaN,NaN,NaN,NaN,NaN,NaN,NaN
678,https://linkedin.com/in/rim-bensouf-link,Rim Bensouf - Product Owner - SPORTTOTAL ...,https://www.linkedin.com/in/rim-bensouf-link/,NaN,https://www.linkedin.com/in/rim-bensouf-link/,NaN,Product Owner at Sporttotal.tv\n\nAgile leader...,Berlin Metropolitan Area,Rim,Bensouf,...,153.0,Maurice Dücker is a mutual connection,https://media.licdn.com/dms/image/D4E03AQH2OhG...,NaN,NaN,NaN,NaN,NaN,NaN,NaN
679,https://linkedin.com/in/oguzcelikada,"Oguz Celikada – Berlin, Berlin, Deutschland",https://www.linkedin.com/in/oguzcelikada/,NaN,https://www.linkedin.com/in/oguzcelikada/,Experienced professional in human-centric busi...,Digital Product Consultant,"Berlin, Berlin, Germany",Oguz,Celikada,...,711.0,"Tim Herbig, Mikhail Grinberg, and 4 other mutu...",https://media.licdn.com/dms/image/C4D03AQGbpHK...,NaN,NaN,NaN,NaN,NaN,NaN,NaN
680,https://linkedin.com/in/althafalim/de,Althaf Ali Mattummathodi - Schaeffler,NaN,NaN,NaN,NaN,R&D E-mobility at Schaeffler,Berlin Metropolitan Area,Althaf Ali,Mattummathodi,...,1941.0,"Andrea Franke, Andreas Weinberger, and 12 othe...",https://media.licdn.com/dms/image/D5603AQFbJKt...,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [6]:
data_events_ppl.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1204 entries, 0 to 1203
Data columns (total 13 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   Event                      1204 non-null   int64
 1   First Name                 1204 non-null   object
 2   Surname                    1204 non-null   object
 3   Email                      1204 non-null   object
 4   Attendee Status            1204 non-null   object
 5   Your Job Position          706 non-null    object
 6   Choose your role           477 non-null    object
 7   Choose your role.1         85 non-null     object
 8   Seniority                  62 non-null     object
 9   How did you hear from us?  766 non-null    object
 10  Company                    1127 non-null   object
 11  Rain                       1204 non-null   object
 12  Day                        1204 non-null   object
dtypes: int64(1), object(12)
memory usage: 122.4+ KB

In [181]:
data_events_ppl["First Name"] = data_events_ppl["First Name"].apply(process_name)
data_events_ppl["Surname"] = data_events_ppl["Surname"].apply(process_name)
data_events_ppl["fullName"] = data_events_ppl["First Name"] + ' ' + data_events_ppl["Surname"]

data_events_ppl['Email'] = data_events_ppl['Email'].str.lower()
data_events_ppl['Company'] = data_events_ppl["Company"].apply(process_name)

# Create DF with unique IDs------------------------------

# Define custom function to get the first non-null value
def first_non_null(series):
    return series.dropna().iloc[0] if not series.dropna().empty else np.nan

# Columns where you want to apply the first_non_null function
columns_to_agg = ['First Name',
                  'Surname',
                  'fullName',
                  'Company',
                  'Your Job Position',
                  'Choose your role',
                  'Choose your role.1',
                  'Seniority'
                  ]

In [182]:
data_events_ppl.sample(20)

,Event,First Name,Surname,Email,Attendee Status,Your Job Position,Choose your role,Choose your role.1,Seniority,How did you hear from us?,Company,Rain,Day,fullName
472,3,miji,lee,miji.lee.kr@hotmail.com,Checked In,Data Analytics,NaN,NaN,NaN,LinkedIn,lieferando,Yes,Thursday,miji lee
755,5,esther,vidal,hello@markos-esther.com,Checked In,Design,NaN,NaN,NaN,BPM Meetup group,markos-esther,No,Thursday,esther vidal
1169,7,elena,t,tuzhikova.el@gmail.com,Checked In,Product,Product Manager,NaN,NaN,Lenny's Newsletter,freelance,No,Tuesday,elena t
373,3,elisa,song,elisa.shanghai@gmail.com,Attending,Data Analytics,NaN,NaN,NaN,FOMO Newsletter,freelancer,Yes,Thursday,elisa song
674,5,lara,orrico,orricolara@gmail.com,Not Attending,NaN,NaN,NaN,NaN,NaN,product,No,Thursday,lara orrico
399,3,catarina,pinto,catarinapp24@gmail.com,Attending,Product,NaN,Product Manager,NaN,Word of Mouth / Referral,tesla,Yes,Thursday,catarina pinto
524,4,balaji,alagu,balaji.alagu@kenjo.io,Not Attending,NaN,NaN,NaN,NaN,NaN,kenjo,No,Tuesday,balaji alagu
527,4,janet,mao,janet.w.mao@gmail.com,Not Attending,NaN,NaN,NaN,NaN,NaN,blinkist,No,Tuesday,janet mao
910,6,vitali,kotik,talkotick@gmail.com,Not Attending,NaN,NaN,NaN,NaN,NaN,bolt,Yes,Thursday,vitali kotik
191,2,lilika,schulte-ostermann,lilikamagdalena@gmail.com,Checked In,Design,NaN,NaN,NaN,BPM Meetup group,d-labs,Yes,Tuesday,lilika schulte-ostermann
764,5,abdelrahman,elfar,abdelrahman.alfar@gmail.com,Checked In,Product,Product Manager,NaN,NaN,LinkedIn,sap,No,Thursday,abdelrahman elfar
294,1,annie,li,annie.li@figures.hr,Not Attending,NaN,NaN,NaN,NaN,NaN,,No,Thursday,annie li
699,5,ewa,kiwus,ewakiwus@gmail.com,Not Attending,NaN,NaN,NaN,NaN,NaN,recare,No,Thursday,ewa kiwus
975,6,halina,tkaczenko,halina.tkc@gmail.com,Checked In,Other,NaN,NaN,NaN,WhatsApp Community,jido,Yes,Thursday,halina tkaczenko
412,3,jiun,lu,nicolelu1109@gmail.com,Not Attending,NaN,NaN,NaN,NaN,NaN,berlin,Yes,Thursday,jiun lu
534,4,dalma,szabo,dszabo@babbel.com,Not Attending,NaN,NaN,NaN,NaN,NaN,babbel,No,Tuesday,dalma szabo
1180,7,jules,nijskens,jls.nijskens@gmail.com,Checked In,Product,Product Manager,NaN,NaN,LinkedIn,delivery,No,Tuesday,jules nijskens
495,4,daniil,tykheev,daniil.tykheev@hygraph.com,Attending,Product,Product Manager,NaN,NaN,Lenny's Newsletter,hygraph,No,Tuesday,daniil tykheev
903,6,yusuf,pirlibeylioglu,yusufcanpirlibeylioglu@gmail.com,Not Attending,NaN,NaN,NaN,NaN,NaN,pepper,Yes,Thursday,yusuf pirlibeylioglu
228,1,svitlana,khimka,s.s.himka@gmail.com,Attending,NaN,NaN,NaN,NaN,NaN,,No,Thursday,svitlana khimka

In [183]:
# Create a dictionary to specify aggregation functions for each column
agg_dict = {'Event': 'count'}
agg_dict.update({column: first_non_null for column in columns_to_agg})

# Group by 'fullName' and apply aggregation
unique_attendees = data_events_ppl.groupby(by='Email', as_index=False).agg(agg_dict)
unique_attendees["numEvents"] = unique_attendees.Event

In [184]:

unique_attendees

,Email,Event,First Name,Surname,fullName,Company,Your Job Position,Choose your role,Choose your role.1,Seniority,numEvents
0,01hub_gilders@icloud.com,2,marcin,belinski,marcin belinski,insurance,Product,Product Manager,NaN,NaN,2
1,1cmarcosrubio@gmail.com,1,marcos,rubio,marcos rubio,tucuvi,NaN,NaN,NaN,NaN,1
2,4rz27gdtzp@privaterelay.appleid.com,3,marcin,belinski,marcin belinski,insurance,Product,Product Manager,Product Manager,NaN,3
3,4srk9xfkmw@privaterelay.appleid.com,3,mikhail,grinberg,mikhail grinberg,looking,Product,Product Manager,Product Manager,NaN,3
4,9gfz8fnsm4@privaterelay.appleid.com,1,myles,sutholt,myles sutholt,talent.io,Product,Head of Product,NaN,NaN,1
...,...,...,...,...,...,...,...,...,...,...,...
813,zahrarouhi@gmail.com,1,zahra,rouhi,zahra rouhi,yumlister,Design,NaN,NaN,NaN,1
814,zajczik@gmail.com,1,ola,zajac,ola zajac,zalando,Product,Product Manager,NaN,NaN,1
815,zaron.arava@gmail.com,1,zaron,arava,zaron arava,xxx,Other,NaN,NaN,NaN,1
816,zimmermannjennifer43@gmail.com,1,zimmermann,jennifer,zimmermann jennifer,gsgsg,Other,NaN,NaN,NaN,1
817,zulfia@malyshenko.com,5,zulfiya,malyshenko,zulfiya malyshenko,,Product,Product Manager,NaN,NaN,5

In [185]:
# Index in this table is now the user ID
unique_attendees['UserID'] = unique_attendees.index

# we have numEvents now instead
unique_attendees = unique_attendees.drop(labels='Event',axis=1)
unique_attendees["Company"] = unique_attendees["Company"].apply(process_name)

In [186]:
# Replace suspicious and empty strings in the Company name with NaNs
to_replace_list = ['','none','xxx','-','tbd','123','n','na','x','--','looking','gsgsg']
unique_attendees['Company'].replace(to_replace_list, np.nan, inplace=True)

/var/folders/5f/td3vxmq52mgbxcd36rlnh7wc0000gn/T/ipykernel_29737/4213797246.py:3: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  unique_attendees['Company'].replace(to_replace_list, np.nan, inplace=True)

In [187]:
unique_attendees

,Email,First Name,Surname,fullName,Company,Your Job Position,Choose your role,Choose your role.1,Seniority,numEvents,UserID
0,01hub_gilders@icloud.com,marcin,belinski,marcin belinski,insurance,Product,Product Manager,NaN,NaN,2,0
1,1cmarcosrubio@gmail.com,marcos,rubio,marcos rubio,tucuvi,NaN,NaN,NaN,NaN,1,1
2,4rz27gdtzp@privaterelay.appleid.com,marcin,belinski,marcin belinski,insurance,Product,Product Manager,Product Manager,NaN,3,2
3,4srk9xfkmw@privaterelay.appleid.com,mikhail,grinberg,mikhail grinberg,NaN,Product,Product Manager,Product Manager,NaN,3,3
4,9gfz8fnsm4@privaterelay.appleid.com,myles,sutholt,myles sutholt,talent.io,Product,Head of Product,NaN,NaN,1,4
...,...,...,...,...,...,...,...,...,...,...,...
813,zahrarouhi@gmail.com,zahra,rouhi,zahra rouhi,yumlister,Design,NaN,NaN,NaN,1,813
814,zajczik@gmail.com,ola,zajac,ola zajac,zalando,Product,Product Manager,NaN,NaN,1,814
815,zaron.arava@gmail.com,zaron,arava,zaron arava,NaN,Other,NaN,NaN,NaN,1,815
816,zimmermannjennifer43@gmail.com,zimmermann,jennifer,zimmermann jennifer,NaN,Other,NaN,NaN,NaN,1,816
817,zulfia@malyshenko.com,zulfiya,malyshenko,zulfiya malyshenko,NaN,Product,Product Manager,NaN,NaN,5,817

In [188]:
# Try to aggregate one more time according to the full name - in case the person used different emails
agg_dict = {'numEvents': 'sum'}

# Columns where you want to apply the first_non_null function
columns_to_agg2 = ['First Name',
                  'Surname',
                  'Email',
                  'Company',
                  'Your Job Position',
                  'Choose your role',
                  'Choose your role.1',
                  'Seniority'
                  ]
agg_dict.update({column: first_non_null for column in columns_to_agg2})

# Group by 'fullName' and apply aggregation
unique_attendees2 = unique_attendees.groupby(by='fullName', as_index=False).agg(agg_dict)
unique_attendees2

,fullName,numEvents,First Name,Surname,Email,Company,Your Job Position,Choose your role,Choose your role.1,Seniority
0,abdelrahman elfar,2,abdelrahman,elfar,abdelrahman.alfar@gmail.com,sap,Engineering,Product Manager,NaN,NaN
1,abdo wahba,1,abdo,wahba,abdelrahman.wahba@gmail.com,NaN,NaN,NaN,NaN,NaN
2,abhi kasoju,1,abhi,kasoju,kasoju.abhinaya@gmail.com,care,Data Analytics,NaN,NaN,NaN
3,abhishek agarwal,1,abhishek,agarwal,aggyabhishek@gmail.com,appreciate,Founder / CXO,NaN,NaN,NaN
4,abhishek khatri,1,abhishek,khatri,abhishekkhatri@hotmail.com,zalando,Other,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...
776,zimmermann jennifer,1,zimmermann,jennifer,zimmermannjennifer43@gmail.com,NaN,Other,NaN,NaN,NaN
777,ziyad mohiyudheen,2,ziyad,mohiyudheen,mmziyad@gmail.com,NaN,NaN,NaN,NaN,NaN
778,zsolt pap,1,zsolt,pap,papjanoszsolt@yahoo.com,axkro,NaN,eCommerce Manager,NaN,NaN
779,zsolt szrapko,1,zsolt,szrapko,szrapko.zsolt+eventbrite@gmail.com,goto,Product,Product Manager,NaN,NaN
780,zulfiya malyshenko,5,zulfiya,malyshenko,zulfia@malyshenko.com,NaN,Product,Product Manager,NaN,NaN

In [189]:
unique_attendees2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 781 entries, 0 to 780
Data columns (total 10 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   fullName            781 non-null    object
 1   numEvents           781 non-null    int64
 2   First Name          781 non-null    object
 3   Surname             781 non-null    object
 4   Email               781 non-null    object
 5   Company             705 non-null    object
 6   Your Job Position   523 non-null    object
 7   Choose your role    364 non-null    object
 8   Choose your role.1  77 non-null     object
 9   Seniority           55 non-null     object
dtypes: int64(1), object(9)
memory usage: 61.1+ KB

In [190]:
# Index in this table is now the user ID
unique_attendees2['UserID'] = unique_attendees2.index

In [191]:
data_scraped.dropna(subset=['url'], inplace=True)
data_scraped.info()

<class 'pandas.core.frame.DataFrame'>
Index: 668 entries, 0 to 680
Data columns (total 69 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   url                        668 non-null    object
 1   title                      668 non-null    object
 2   linkedinProfileUrl         617 non-null    object
 3   email                      172 non-null    object
 4   linkedinProfile            617 non-null    object
 5   description                469 non-null    object
 6   headline                   656 non-null    object
 7   location                   656 non-null    object
 8   firstName                  656 non-null    object
 9   lastName                   656 non-null    object
 10  fullName                   656 non-null    object
 11  connectionDegree           656 non-null    object
 12  vmid                       656 non-null    object
 13  userId                     656 non-null    float64
 14  linkedinSalesNavigatorUrl  656 non-null    object
 15  connectionsCount           607 non-null    float64
 16  connectionsUrl             656 non-null    object
 17  mutualConnectionsUrl       656 non-null    object
 18  company                    645 non-null    object
 19  companyUrl                 583 non-null    object
 20  jobTitle                   644 non-null    object
 21  jobDescription             412 non-null    object
 22  jobLocation                546 non-null    object
 23  jobDateRange               635 non-null    object
 24  jobDuration                634 non-null    object
 25  company2                   628 non-null    object
 26  companyUrl2                570 non-null    object
 27  jobTitle2                  627 non-null    object
 28  jobDescription2            499 non-null    object
 29  jobLocation2               530 non-null    object
 30  jobDateRange2              627 non-null    object
 31  jobDuration2               626 non-null    object
 32  school                     630 non-null    object
 33  schoolUrl                  570 non-null    object
 34  schoolDegree               616 non-null    object
 35  schoolDescription          301 non-null    object
 36  schoolDateRange            579 non-null    object
 37  school2                    532 non-null    object
 38  schoolUrl2                 449 non-null    object
 39  schoolDegree2              514 non-null    object
 40  schoolDescription2         229 non-null    object
 41  schoolDateRange2           483 non-null    object
 42  birthday                   259 non-null    object
 43  allSkills                  623 non-null    object
 44  skill1                     623 non-null    object
 45  endorsement1               366 non-null    float64
 46  skill2                     621 non-null    object
 47  endorsement2               384 non-null    float64
 48  skill3                     619 non-null    object
 49  endorsement3               369 non-null    float64
 50  skill4                     615 non-null    object
 51  endorsement4               353 non-null    float64
 52  skill5                     612 non-null    object
 53  endorsement5               356 non-null    float64
 54  skill6                     608 non-null    object
 55  endorsement6               373 non-null    float64
 56  baseUrl                    668 non-null    object
 57  profileId                  656 non-null    object
 58  timestamp                  668 non-null    object
 59  subscribers                579 non-null    float64
 60  mutualConnectionsText      565 non-null    object
 61  imgUrl                     625 non-null    object
 62  website                    165 non-null    object
 63  mail                       172 non-null    object
 64  connectedOn                177 non-null    object
 65  error                      2 non-null      object
 66  phoneNumber                30 non-null     object
 67  partialScreenshot          409 non-null    object
 68  facebookUrl                1 non-null      object
dtypes: float64(9), object(60)
memory usage: 365.3+ KB

In [192]:
data_scraped = data_scraped[data_scraped['error'].isnull()]
data_scraped.info()

<class 'pandas.core.frame.DataFrame'>
Index: 666 entries, 0 to 680
Data columns (total 69 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   url                        666 non-null    object
 1   title                      666 non-null    object
 2   linkedinProfileUrl         615 non-null    object
 3   email                      172 non-null    object
 4   linkedinProfile            615 non-null    object
 5   description                469 non-null    object
 6   headline                   656 non-null    object
 7   location                   656 non-null    object
 8   firstName                  656 non-null    object
 9   lastName                   656 non-null    object
 10  fullName                   656 non-null    object
 11  connectionDegree           656 non-null    object
 12  vmid                       656 non-null    object
 13  userId                     656 non-null    float64
 14  linkedinSalesNavigatorUrl  656 non-null    object
 15  connectionsCount           607 non-null    float64
 16  connectionsUrl             656 non-null    object
 17  mutualConnectionsUrl       656 non-null    object
 18  company                    645 non-null    object
 19  companyUrl                 583 non-null    object
 20  jobTitle                   644 non-null    object
 21  jobDescription             412 non-null    object
 22  jobLocation                546 non-null    object
 23  jobDateRange               635 non-null    object
 24  jobDuration                634 non-null    object
 25  company2                   628 non-null    object
 26  companyUrl2                570 non-null    object
 27  jobTitle2                  627 non-null    object
 28  jobDescription2            499 non-null    object
 29  jobLocation2               530 non-null    object
 30  jobDateRange2              627 non-null    object
 31  jobDuration2               626 non-null    object
 32  school                     630 non-null    object
 33  schoolUrl                  570 non-null    object
 34  schoolDegree               616 non-null    object
 35  schoolDescription          301 non-null    object
 36  schoolDateRange            579 non-null    object
 37  school2                    532 non-null    object
 38  schoolUrl2                 449 non-null    object
 39  schoolDegree2              514 non-null    object
 40  schoolDescription2         229 non-null    object
 41  schoolDateRange2           483 non-null    object
 42  birthday                   259 non-null    object
 43  allSkills                  623 non-null    object
 44  skill1                     623 non-null    object
 45  endorsement1               366 non-null    float64
 46  skill2                     621 non-null    object
 47  endorsement2               384 non-null    float64
 48  skill3                     619 non-null    object
 49  endorsement3               369 non-null    float64
 50  skill4                     615 non-null    object
 51  endorsement4               353 non-null    float64
 52  skill5                     612 non-null    object
 53  endorsement5               356 non-null    float64
 54  skill6                     608 non-null    object
 55  endorsement6               373 non-null    float64
 56  baseUrl                    666 non-null    object
 57  profileId                  656 non-null    object
 58  timestamp                  666 non-null    object
 59  subscribers                579 non-null    float64
 60  mutualConnectionsText      565 non-null    object
 61  imgUrl                     625 non-null    object
 62  website                    165 non-null    object
 63  mail                       172 non-null    object
 64  connectedOn                177 non-null    object
 65  error                      0 non-null      object
 66  phoneNumber                30 non-null     object
 67  partialScreenshot          409 non-null    object
 68  facebookUrl                1 non-null      object
dtypes: float64(9), object(60)
memory usage: 364.2+ KB

In [193]:
# Define a function to replace NaN values in fullName
def replace_nan_fullname(full_name, title):
    
    if pd.isna(full_name):
        print(title)
        # Split the title by whitespace
        words = title.split()

        # Check if there are only 2 words in the title
        if len(words) == 2:
            return ' '.join(words[:2])

        # Check for ',' or '-' signs and return the words before them
        for char in [',', '-']:
            if char in title:
                return title.split(char)[0]

    return full_name

# Apply the function to replace NaN values in the fullName column
data_scraped['fullName'] = data_scraped.apply(lambda row: replace_nan_fullname(row['fullName'], row['title']), axis=1)
data_scraped.info()

Adriano Ruiz - tripunkt GmbH
Yanyan Ma – MBA Candidate – ESMT Berlin
Armin Krahl - thermondo
Veronica Sartore - Project coordinator - Yad be Yad (Kubus ...
Katharina Andres - Nosto
Siena Chan - cargo.one
Fernanda Pugliero - Löwenzahn Organics GmbH
Lynn Ng – Operations Assistant – Ginza Berlin
Jessica He - HelloFresh
Lara Orrico - Just Eat Takeaway.com
<class 'pandas.core.frame.DataFrame'>
Index: 666 entries, 0 to 680
Data columns (total 69 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   url                        666 non-null    object
 1   title                      666 non-null    object
 2   linkedinProfileUrl         615 non-null    object
 3   email                      172 non-null    object
 4   linkedinProfile            615 non-null    object
 5   description                469 non-null    object
 6   headline                   656 non-null    object
 7   location                   656 non-null    object
 8   firstName                  656 non-null    object
 9   lastName                   656 non-null    object
 10  fullName                   664 non-null    object
 11  connectionDegree           656 non-null    object
 12  vmid                       656 non-null    object
 13  userId                     656 non-null    float64
 14  linkedinSalesNavigatorUrl  656 non-null    object
 15  connectionsCount           607 non-null    float64
 16  connectionsUrl             656 non-null    object
 17  mutualConnectionsUrl       656 non-null    object
 18  company                    645 non-null    object
 19  companyUrl                 583 non-null    object
 20  jobTitle                   644 non-null    object
 21  jobDescription             412 non-null    object
 22  jobLocation                546 non-null    object
 23  jobDateRange               635 non-null    object
 24  jobDuration                634 non-null    object
 25  company2                   628 non-null    object
 26  companyUrl2                570 non-null    object
 27  jobTitle2                  627 non-null    object
 28  jobDescription2            499 non-null    object
 29  jobLocation2               530 non-null    object
 30  jobDateRange2              627 non-null    object
 31  jobDuration2               626 non-null    object
 32  school                     630 non-null    object
 33  schoolUrl                  570 non-null    object
 34  schoolDegree               616 non-null    object
 35  schoolDescription          301 non-null    object
 36  schoolDateRange            579 non-null    object
 37  school2                    532 non-null    object
 38  schoolUrl2                 449 non-null    object
 39  schoolDegree2              514 non-null    object
 40  schoolDescription2         229 non-null    object
 41  schoolDateRange2           483 non-null    object
 42  birthday                   259 non-null    object
 43  allSkills                  623 non-null    object
 44  skill1                     623 non-null    object
 45  endorsement1               366 non-null    float64
 46  skill2                     621 non-null    object
 47  endorsement2               384 non-null    float64
 48  skill3                     619 non-null    object
 49  endorsement3               369 non-null    float64
 50  skill4                     615 non-null    object
 51  endorsement4               353 non-null    float64
 52  skill5                     612 non-null    object
 53  endorsement5               356 non-null    float64
 54  skill6                     608 non-null    object
 55  endorsement6               373 non-null    float64
 56  baseUrl                    666 non-null    object
 57  profileId                  656 non-null    object
 58  timestamp                  666 non-null    object
 59  subscribers                579 non-null    float64
 60  mutualConnectionsText      565 non-null    object
 61  imgUrl                     625 non-null    object
 62  website                    165 non-null    object
 63  mail                       172 non-null    object
 64  connectedOn                177 non-null    object
 65  error                      0 non-null      object
 66  phoneNumber                30 non-null     object
 67  partialScreenshot          409 non-null    object
 68  facebookUrl                1 non-null      object
dtypes: float64(9), object(60)
memory usage: 364.2+ KB

/var/folders/5f/td3vxmq52mgbxcd36rlnh7wc0000gn/T/ipykernel_29737/1338588216.py:21: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data_scraped['fullName'] = data_scraped.apply(lambda row: replace_nan_fullname(row['fullName'], row['title']), axis=1)

In [213]:
def replace_nan_fullname(full_name, title):
    if pd.isna(full_name):
        # Split the title by whitespace
        print(title)
        words = title.split()

        # Check if there are only 2 words in the title
        if len(words) == 2:
            return ' '.join(words[:2])

        # Check for ',' or '-' signs and return the words before the first occurrence
        for char in [',', '-','–']:
            if char in title:
                return title.split(char, 1)[0]

    return full_name
data_scraped['fullName'] = data_scraped.apply(lambda row: replace_nan_fullname(row['fullName'], row['title']), axis=1)

yanyan ma – mba candidate – esmt berlin
lynn ng – operations assistant – ginza berlin

/var/folders/5f/td3vxmq52mgbxcd36rlnh7wc0000gn/T/ipykernel_29737/4075008215.py:17: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data_scraped['fullName'] = data_scraped.apply(lambda row: replace_nan_fullname(row['fullName'], row['title']), axis=1)

In [214]:
data_scraped.info()

<class 'pandas.core.frame.DataFrame'>
Index: 666 entries, 0 to 680
Data columns (total 70 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   url                        666 non-null    object
 1   title                      666 non-null    object
 2   linkedinProfileUrl         615 non-null    object
 3   email                      172 non-null    object
 4   linkedinProfile            615 non-null    object
 5   description                469 non-null    object
 6   headline                   656 non-null    object
 7   location                   656 non-null    object
 8   firstName                  656 non-null    object
 9   lastName                   656 non-null    object
 10  fullName                   666 non-null    object
 11  connectionDegree           656 non-null    object
 12  vmid                       656 non-null    object
 13  userId                     656 non-null    float64
 14  linkedinSalesNavigatorUrl  656 non-null    object
 15  connectionsCount           607 non-null    float64
 16  connectionsUrl             656 non-null    object
 17  mutualConnectionsUrl       656 non-null    object
 18  company                    645 non-null    object
 19  companyUrl                 583 non-null    object
 20  jobTitle                   644 non-null    object
 21  jobDescription             412 non-null    object
 22  jobLocation                546 non-null    object
 23  jobDateRange               635 non-null    object
 24  jobDuration                634 non-null    object
 25  company2                   628 non-null    object
 26  companyUrl2                570 non-null    object
 27  jobTitle2                  627 non-null    object
 28  jobDescription2            499 non-null    object
 29  jobLocation2               530 non-null    object
 30  jobDateRange2              627 non-null    object
 31  jobDuration2               626 non-null    object
 32  school                     630 non-null    object
 33  schoolUrl                  570 non-null    object
 34  schoolDegree               616 non-null    object
 35  schoolDescription          301 non-null    object
 36  schoolDateRange            579 non-null    object
 37  school2                    532 non-null    object
 38  schoolUrl2                 449 non-null    object
 39  schoolDegree2              514 non-null    object
 40  schoolDescription2         229 non-null    object
 41  schoolDateRange2           483 non-null    object
 42  birthday                   259 non-null    object
 43  allSkills                  623 non-null    object
 44  skill1                     623 non-null    object
 45  endorsement1               366 non-null    float64
 46  skill2                     621 non-null    object
 47  endorsement2               384 non-null    float64
 48  skill3                     619 non-null    object
 49  endorsement3               369 non-null    float64
 50  skill4                     615 non-null    object
 51  endorsement4               353 non-null    float64
 52  skill5                     612 non-null    object
 53  endorsement5               356 non-null    float64
 54  skill6                     608 non-null    object
 55  endorsement6               373 non-null    float64
 56  baseUrl                    666 non-null    object
 57  profileId                  656 non-null    object
 58  timestamp                  666 non-null    object
 59  subscribers                579 non-null    float64
 60  mutualConnectionsText      565 non-null    object
 61  imgUrl                     625 non-null    object
 62  website                    165 non-null    object
 63  mail                       172 non-null    object
 64  connectedOn                177 non-null    object
 65  error                      0 non-null      object
 66  phoneNumber                30 non-null     object
 67  partialScreenshot          409 non-null    object
 68  facebookUrl                1 non-null      object
 69  UserID                     1 non-null      float64
dtypes: float64(10), object(60)
memory usage: 385.6+ KB

In [73]:
# Clean data_scraped
data_scraped.fullName = data_scraped.fullName.str.lower()
data_scraped['email'] = data_scraped['email'].fillna('').str.lower()
data_scraped['company'] = data_scraped['company'].fillna('').str.lower().str.strip()

data_scraped['UserID'] = float('nan')

/var/folders/5f/td3vxmq52mgbxcd36rlnh7wc0000gn/T/ipykernel_29737/2086513390.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data_scraped.fullName = data_scraped.fullName.str.lower()
/var/folders/5f/td3vxmq52mgbxcd36rlnh7wc0000gn/T/ipykernel_29737/2086513390.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data_scraped['email'] = data_scraped['email'].fillna('').str.lower()
/var/folders/5f/td3vxmq52mgbxcd36rlnh7wc0000gn/T/ipykernel_29737/2086513390.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data_scraped['company'] = data_scraped['company'].fillna('').str.lower().str.strip()
/var/folders/5f/td3vxmq52mgbxcd36rlnh7wc0000gn/T/ipykernel_29737/2086513390.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data_scraped['UserID'] = float('nan')

In [58]:
unique_attendees2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 781 entries, 0 to 780
Data columns (total 11 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   fullName            781 non-null    object
 1   numEvents           781 non-null    int64
 2   First Name          781 non-null    object
 3   Surname             781 non-null    object
 4   Email               781 non-null    object
 5   Company             781 non-null    object
 6   Your Job Position   781 non-null    object
 7   Choose your role    781 non-null    object
 8   Choose your role.1  781 non-null    object
 9   Seniority           55 non-null     object
 10  UserID              781 non-null    int64
dtypes: int64(2), object(9)
memory usage: 67.2+ KB

In [57]:
unique_attendees2.Company = unique_attendees.Company.apply(process_name)
unique_attendees2['Your Job Position'] = unique_attendees2['Your Job Position'].apply(process_name)
unique_attendees2['Choose your role'] = unique_attendees2['Choose your role'].apply(process_name)
unique_attendees2['Choose your role.1'] = unique_attendees2['Choose your role.1'].apply(process_name)

In [216]:
data_scraped.fullName

0                Patrick Beeker
1                  Teena Kumari
2              Mischa Gawronski
3              Shuvam Kumar Sah
4                Ayman Chalhoub
                 ...
676         Ali Akbar Khan, MBA
677      Daniel López Contreras
678                 Rim Bensouf
679               Oguz Celikada
680    Althaf Ali Mattummathodi
Name: fullName, Length: 666, dtype: object

In [195]:
data_scraped['title'] = data_scraped['title'].str.lower()
data_scraped['title']

/var/folders/5f/td3vxmq52mgbxcd36rlnh7wc0000gn/T/ipykernel_29737/650584040.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data_scraped['title'] = data_scraped['title'].str.lower()

0                                         patrick beeker
1      teena kumari – tech product support intern – h...
2       mischa gawronski – creative director – freelance
3                        shuvam kumar sah – web designer
4                                 ayman chalhoub - clink
                             ...
676                  ali akbar khan, mba - delivery hero
677                daniel lópez contreras - masterschool
678         rim bensouf - product owner - sporttotal ...
679          oguz celikada – berlin, berlin, deutschland
680                althaf ali mattummathodi - schaeffler
Name: title, Length: 666, dtype: object

In [74]:
data_scraped['Attendance'] = 0

/var/folders/5f/td3vxmq52mgbxcd36rlnh7wc0000gn/T/ipykernel_29737/4113917403.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data_scraped['Attendance'] = 0

In [196]:
data_scraped.firstName = data_scraped['firstName'].str.lower()
data_scraped.lastName = data_scraped['lastName'].str.lower()

/var/folders/5f/td3vxmq52mgbxcd36rlnh7wc0000gn/T/ipykernel_29737/27549687.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data_scraped.firstName = data_scraped['firstName'].str.lower()
/var/folders/5f/td3vxmq52mgbxcd36rlnh7wc0000gn/T/ipykernel_29737/27549687.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data_scraped.lastName = data_scraped['lastName'].str.lower()

In [ ]:

username = row_ids['Email'].split("@")[0]
# Match by username in the email
if len(username) != 0:
    if (username in row_scraped['fullName']) or (username in row_scraped['lastName']) or (username in row_scraped['email']):
    # if row_ids['fullName'].contains(username, na=False) | row_ids['Surname'].contains(username, na=False) | row_ids['Email'].contains(username, na=False):
        return True
    
username = username.split(".")[1]
if len(username) != 0:
    if (username in row_scraped['fullName']) or (username in row_scraped['lastName']) or (username in row_scraped['email']):
    # if row_ids['fullName'].contains(username, na=False) | row_ids['Surname'].contains(username, na=False) | row_ids['Email'].contains(username, na=False):
        return True

In [272]:
def custom_user_matching(row_scraped, row_ids):
    '''
    Utility function to match scraped data with UserIDs
    '''
    if row_scraped['fullName'] == row_ids['fullName']:
        print(f"Full name matched {row_ids['fullName']} for user {row_ids['UserID']}")
        return True

    # Compare the emails
    if row_scraped['email'] == row_ids['Email'] :
        return True

    # Match by only last name
    # print(row_scraped['fullName'], row_ids['fullName'])
    last_name = row_scraped['fullName'].split()[-1]
    if len(last_name) > 3:
        if ( last_name in row_ids['fullName']) or (last_name in row_ids['Company']) or (last_name in row_ids['Email']):
        # if row_ids['fullName'].contains(row_scraped['lastName'], na=False) | row_ids['Company'].contains( row_scraped['lastName'], na=False)|row_ids['Email'].contains(row_scraped['lastName'], na=False):
            print(f"Last name from full name matched {last_name} {row_ids['fullName']} for user {row_ids['UserID']}")
            return True  
    last_name = row_scraped['lastName']
    if (not pd.isna(last_name)) and (len(last_name) > 3):
        if ( last_name in row_ids['fullName']) or (last_name in row_ids['Company']) or (last_name in row_ids['Email']):
        # if row_ids['fullName'].contains(row_scraped['lastName'], na=False) | row_ids['Company'].contains( row_scraped['lastName'], na=False)|row_ids['Email'].contains(row_scraped['lastName'], na=False):
            print(f"Last name matched {last_name} {row_ids['fullName']} for user {row_ids['UserID']}")
            return True 

        # Compare first or last name match AND the company match
        #if row_ids['Surname'] in row_scraped['fullName']:
         #   if (row_ids['Company'] in row_scraped['company'].lower()) and ( len(row_ids['Company']) != 0):
          #      return True
           # if (row_ids['Your Job Position'] in row_scraped['title'].lower()) and ( len(row_ids['Your Job Position']) != 0):
       #         return True
       #     if (row_ids['Choose your role'] in row_scraped['title'].lower()) and ( len(row_ids['Choose your role']) != 0):
       #         return True
       #     if (row_ids['Choose your role.1'] in row_scraped['title'].lower()) and ( len(row_ids['Choose your role.1']) != 0):
        #        return True
    if row_ids['First Name'] in row_scraped['fullName']:
        if not pd.isna(row_scraped['company']):
            if (len(row_ids['Company']) != 0) and (row_ids['Company'] in row_scraped['company'].lower()):
                return True
        if (len(row_ids['Your Job Position']) != 0) and (row_ids['Your Job Position'] in row_scraped['title'].lower()) :
            print(f"Your Job Position matched!!! {row_ids['fullName']} {row_scraped['fullName']} for user {row_ids['UserID']}")
            return True
        if (len(row_ids['Choose your role']) != 0) and (row_ids['Choose your role'] in row_scraped['title'].lower()):
            print(f"Choose your role matched!!! {row_ids['fullName']} {row_scraped['fullName']} for user {row_ids['UserID']}")
            return True
        if ( len(row_ids['Choose your role.1']) != 0) and (row_ids['Choose your role.1'] in row_scraped['title'].lower()):
            print(f"Choose your role.1 matched!!! {row_ids['fullName']} {row_scraped['fullName']} for user {row_ids['UserID']}")
            return True
        #print(f"First name matched, but not found :( {row_ids['First Name']} {row_scraped['fullName']}")
    return False

In [218]:
data_scraped.fullName = data_scraped.fullName.str.lower()

/var/folders/5f/td3vxmq52mgbxcd36rlnh7wc0000gn/T/ipykernel_29737/4199408957.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data_scraped.fullName = data_scraped.fullName.str.lower()

In [237]:
data_scraped.fullName = data_scraped.fullName.apply(process_name_not_removing)

patrick
['patrick']
beeker
['patrick', 'beeker']
teena
['teena']
kumari
['teena', 'kumari']
mischa
['mischa']
gawronski
['mischa', 'gawronski']
shuvam
['shuvam']
kumar
['shuvam', 'kumar']
sah
['shuvam', 'kumar', 'sah']
ayman
['ayman']
chalhoub
['ayman', 'chalhoub']
elena
['elena']
berendeeva
['elena', 'berendeeva']
mircea
['mircea']
giurca
['mircea', 'giurca']
luísa
['lusa']
suda
['lusa', 'suda']
sidra
['sidra']
aziz
['sidra', 'aziz']
lisa-sophie
['lisasophie']
rätze
['lisasophie', 'rtze']
salvatorina
['salvatorina']
rassu
['salvatorina', 'rassu']
nikita
['nikita']
zavyalov
['nikita', 'zavyalov']
natalia
['natalia']
pánshina
['natalia', 'pnshina']
yuri
['yuri']
orthey
['yuri', 'orthey']
carolina
['carolina']
torres
['carolina', 'torres']
arzamendi
['carolina', 'torres', 'arzamendi']
marcin
['marcin']
fabianczyk
['marcin', 'fabianczyk']
dilan
['dilan']
gevsek
['dilan', 'gevsek']
elisabeta
['elisabeta']
g
['elisabeta', 'g']
mritunjay
['mritunjay']
kumar
['mritunjay', 'kumar']
verma
['mritunjay', 'kumar', 'verma']
vaibhav
['vaibhav']
malik
['vaibhav', 'malik']
mohamed
['mohamed']
salah
['mohamed', 'salah']
valerie
['valerie']
d
['valerie', 'd']
silvia
['silvia']
lodato
['silvia', 'lodato']
jean-luc
['jeanluc']
hervé
['jeanluc', 'herv']
©
['jeanluc', 'herv', '']
martinetti-dubuisson
['jeanluc', 'herv', '', 'martinettidubuisson']
europa-union
['jeanluc', 'herv', '', 'martinettidubuisson', 'europaunion']
paris
['jeanluc', 'herv', '', 'martinettidubuisson', 'europaunion', 'paris']
liya
['liya']
kachanova
['liya', 'kachanova']
sindhu
['sindhu']
maiyya
['sindhu', 'maiyya']
max
['max']
scheidlock
['max', 'scheidlock']
francesco
['francesco']
paltrinieri
['francesco', 'paltrinieri']
sanjiv
['sanjiv']
murali
['sanjiv', 'murali']
jan
['jan']
michael
['jan', 'michael']
gerwin
['jan', 'michael', 'gerwin']
sara
['sara']
pattacini
['sara', 'pattacini']
dheeraj
['dheeraj']
suvarna
['dheeraj', 'suvarna']
olya
['olya']
l
['olya', 'l']
attia
['attia']
elsayed
['attia', 'elsayed']
leonardo
['leonardo']
tognon
['leonardo', 'tognon']
nirvan
['nirvan']
mahat
['nirvan', 'mahat']
katie
['katie']
hauser
['katie', 'hauser']
amin
['amin']
jmyi
['amin', 'jmyi']
abolfazl
['abolfazl']
jafarzadehpour
['abolfazl', 'jafarzadehpour']
ximena
['ximena']
hernandez
['ximena', 'hernandez']
utpal
['utpal']
das
['utpal', 'das']
willian
['willian']
magalhães
['willian', 'magalhes']
sheena
['sheena']
antonios
['sheena', 'antonios']
komal
['komal']
singh
['komal', 'singh']
tauheed
['tauheed']
ahmed
['tauheed', 'ahmed']
sonya
['sonya']
pobiedimska
['sonya', 'pobiedimska']
daniela
['daniela']
künstle
['daniela', 'knstle']
evgenia
['evgenia']
adam
['evgenia', 'adam']
🇺🇦
['']
natalia
['', 'natalia']
filvarova
['', 'natalia', 'filvarova']
🇺🇦
['', 'natalia', 'filvarova', '']
ines
['ines']
jordan
['ines', 'jordan']
fabian
['fabian']
kleeberger
['fabian', 'kleeberger']
annemarie
['annemarie']
sagner
['annemarie', 'sagner']
sameer
['sameer']
rizwan
['sameer', 'rizwan']
qidwai
['sameer', 'rizwan', 'qidwai']
renata
['renata']
iwamoto
['renata', 'iwamoto']
mathieu
['mathieu']
ritter
['mathieu', 'ritter']
(he/him)
['mathieu', 'ritter', 'hehim']
ariel
['ariel']
wu
['ariel', 'wu']
dr.
['dr']
jenny
['dr', 'jenny']
lam
['dr', 'jenny', 'lam']
senny
['senny']
sanjung
['senny', 'sanjung']
agestriani
['senny', 'sanjung', 'agestriani']
leon
['leon']
gerdes
['leon', 'gerdes']
future
['future']
female
['future', 'female']
africa
['future', 'female', 'africa']
soumitra
['soumitra']
sahu
['soumitra', 'sahu']
daniel
['daniel']
schwarz
['daniel', 'schwarz']
yusuf
['yusuf']
algan
['yusuf', 'algan']
max
['max']
ostapenko
['max', 'ostapenko']
merve
['merve']
salmaz
['merve', 'salmaz']
maximilian
['maximilian']
walzel
['maximilian', 'walzel']
von
['maximilian', 'walzel', 'von']
wiesentreu
['maximilian', 'walzel', 'von', 'wiesentreu']
tansel
['tansel']
can
['tansel', 'can']
ewa
['ewa']
kiwus
['ewa', 'kiwus']
radomir
['radomir']
šebek
['radomir', 'ebek']
seda
['seda']
bavas
['seda', 'bavas']
egor
['egor']
zakharov
['egor', 'zakharov']
professor
['professor']
lisa
['professor', 'lisa']
wilson
['professor', 'lisa', 'wilson']
[short]
['professor', 'lisa', 'wilson', 'short']
arzhang
['arzhang']
mani,
['arzhang', 'mani']
phd
['arzhang', 'mani', 'phd']
louise
['louise']
plessis
['louise', 'plessis']
cindy
['cindy']
janicke
['cindy', 'janicke']
jona
['jona']
david
['jona', 'david']
hoffmann
['jona', 'david', 'hoffmann']
cemal
['cemal']
toprak
['cemal', 'toprak']
nuwan
['nuwan']
withanage
['nuwan', 'withanage']
muhammad
['muhammad']
banirahma
['muhammad', 'banirahma']
syahroni
['muhammad', 'banirahma', 'syahroni']
christine
['christine']
plotz
['christine', 'plotz']
isabella
['isabella']
beck
['isabella', 'beck']
will
['will']
r
['will', 'r']
igor
['igor']
lahr
['igor', 'lahr']
alexander
['alexander']
fife
['alexander', 'fife']
miguel
['miguel']
leon
['miguel', 'leon']
gutierrez
['miguel', 'leon', 'gutierrez']
saptarshi
['saptarshi']
baksi
['saptarshi', 'baksi']
krzysztof
['krzysztof']
glistak
['krzysztof', 'glistak']
ilya
['ilya']
blokh
['ilya', 'blokh']
shantanu
['shantanu']
dikshit
['shantanu', 'dikshit']
miriam
['miriam']
hutter
['miriam', 'hutter']
aino
['aino']
kivinen
['aino', 'kivinen']
ovidiu
['ovidiu']
oanca
['ovidiu', 'oanca']
emilly
['emilly']
leão
['emilly', 'leo']
sabrina
['sabrina']
luna
['sabrina', 'luna']
abdelrahman
['abdelrahman']
elfar
['abdelrahman', 'elfar']
jitesh
['jitesh']
nayak
['jitesh', 'nayak']
simon
['simon']
petrov
['simon', 'petrov']
marijana
['marijana']
medina
['marijana', 'medina']
martin
['martin']
klein
['martin', 'klein']
blen
['blen']
baheru
['blen', 'baheru']
emre
['emre']
karadayılar
['emre', 'karadaylar']
maggie
['maggie']
romano
['maggie', 'romano']
isabell
['isabell']
fringer
['isabell', 'fringer']
john
['john']
ngo
['john', 'ngo']
mostakim
['mostakim']
islam
['mostakim', 'islam']
xiomara
['xiomara']
guillorme
['xiomara', 'guillorme']
seda
['seda']
baskan
['seda', 'baskan']
max
['max']
beitler
['max', 'beitler']
roman
['roman']
prys
['roman', 'prys']
daniel
['daniel']
r
['daniel', 'r']
👨‍💻
['']
daniel
['', 'daniel']
bartholomae
['', 'daniel', 'bartholomae']
omar
['omar']
sherif
['omar', 'sherif']
marcin
['marcin']
belinski
['marcin', 'belinski']
marta
['marta']
osowiecka
['marta', 'osowiecka']
volodymyr
['volodymyr']
lunov
['volodymyr', 'lunov']
ahmed
['ahmed']
ragab
['ahmed', 'ragab']
dan
['dan']
léon
['dan', 'lon']
krause
['dan', 'lon', 'krause']
andrey
['andrey']
schäfer
['andrey', 'schfer']
sam
['sam']
abdullaev
['sam', 'abdullaev']
masha
['masha']
lutsenko
['masha', 'lutsenko']
nisha
['nisha']
kumari
['nisha', 'kumari']
kevin
['kevin']
konrath
['kevin', 'konrath']
ali
['ali']
badawy
['ali', 'badawy']
anastasia
['anastasia']
kozmína
['anastasia', 'kozmna']
elia
['elia']
jona
['elia', 'jona']
kargruber
['elia', 'jona', 'kargruber']
irene
['irene']
orsa
['irene', 'orsa']
fanton
['irene', 'orsa', 'fanton']
ann-christin
['annchristin']
schönert
['annchristin', 'schnert']
daria
['daria']
elson
['daria', 'elson']
neha
['neha']
george
['neha', 'george']
balaji
['balaji']
alagu
['balaji', 'alagu']
philipp
['philipp']
tessmann
['philipp', 'tessmann']
anastasia
['anastasia']
bakhmutova
['anastasia', 'bakhmutova']
amber
['amber']
hasan
['amber', 'hasan']
naqvi
['amber', 'hasan', 'naqvi']
sándor
['sndor']
dés
['sndor', 'ds']
alcalá
['sndor', 'ds', 'alcal']
alain
['alain']
dujardin
['alain', 'dujardin']
krutika
['krutika']
gopalakrishnan
['krutika', 'gopalakrishnan']
mridul
['mridul']
jain
['mridul', 'jain']
anna
['anna']
lukyanovich
['anna', 'lukyanovich']
alessandra
['alessandra']
bari
['alessandra', 'bari']
duroseme
['duroseme']
taylor
['duroseme', 'taylor']
aleksej
['aleksej']
ruckoj
['aleksej', 'ruckoj']
giacomo
['giacomo']
giorgianni
['giacomo', 'giorgianni']
umair
['umair']
sarfraz
['umair', 'sarfraz']
emanuele
['emanuele']
libralato
['emanuele', 'libralato']
seyma
['seyma']
tuzer
['seyma', 'tuzer']
sam
['sam']
nurick
['sam', 'nurick']
vadym
['vadym']
kuzmenko
['vadym', 'kuzmenko']
👨🏻‍💻
['vadym', 'kuzmenko', '']
catherine
['catherine']
windorf
['catherine', 'windorf']
annie
['annie']
li
['annie', 'li']
paul
['paul']
hunger
['paul', 'hunger']
elif
['elif']
özçakmak
['elif', 'zakmak']
charline
['charline']
goethals
['charline', 'goethals']
amon
['amon']
fayz
['amon', 'fayz']
hosna
['hosna']
shayani
['hosna', 'shayani']
anja
['anja']
stoltz
['anja', 'stoltz']
dr.
['dr']
anamika
['dr', 'anamika']
datta
['dr', 'anamika', 'datta']
ken
['ken']
kraft
['ken', 'kraft']
alexander
['alexander']
charles
['alexander', 'charles']
boase,
['alexander', 'charles', 'boase']
cspo
['alexander', 'charles', 'boase', 'cspo']
kseniia
['kseniia']
shyshkova
['kseniia', 'shyshkova']
maurice
['maurice']
zurstraßen
['maurice', 'zurstraen']
andrea
['andrea']
picco
['andrea', 'picco']
sanjana
['sanjana']
laddha
['sanjana', 'laddha']
daniil
['daniil']
matkov
['daniil', 'matkov']
julia
['julia']
steier
['julia', 'steier']
anna
['anna']
schneitz
['anna', 'schneitz']
🥙abdelrahman
['abdelrahman']
(abdo)
['abdelrahman', 'abdo']
wahba
['abdelrahman', 'abdo', 'wahba']
alexander
['alexander']
bahlk
['alexander', 'bahlk']
babatunde
['babatunde']
kufo
['babatunde', 'kufo']
philip
['philip']
homnack
['philip', 'homnack']
debarati
['debarati']
rakshit
['debarati', 'rakshit']
⚡️
['debarati', 'rakshit', '']
indah
['indah']
harahap
['indah', 'harahap']
blagojche
['blagojche']
kuzevski
['blagojche', 'kuzevski']
deepu
['deepu']
suresh
['deepu', 'suresh']
kumar
['deepu', 'suresh', 'kumar']
uday
['uday']
singh
['uday', 'singh']
olga
['olga']
p
['olga', 'p']
chandan
['chandan']
deepak
['chandan', 'deepak']
mehmi
['chandan', 'deepak', 'mehmi']
catarina
['catarina']
pinto,
['catarina', 'pinto']
phd
['catarina', 'pinto', 'phd']
pia
['pia']
hösdorff
['pia', 'hsdorff']
quezia
['quezia']
barrozo
['quezia', 'barrozo']
aditya
['aditya']
raghunath
['aditya', 'raghunath']
bola
['bola']
oyebo
['bola', 'oyebo']
lana
['lana']
khimka
['lana', 'khimka']
rahul
['rahul']
ranjan
['rahul', 'ranjan']
sean
['sean']
kress
['sean', 'kress']
heorhi
['heorhi']
talochka
['heorhi', 'talochka']
iswarya
['iswarya']
sakthivel
['iswarya', 'sakthivel']
andrea
['andrea']
catalina
['andrea', 'catalina']
motta
['andrea', 'catalina', 'motta']
masood
['masood']
rao
['masood', 'rao']
nihad
['nihad']
zeitouny
['nihad', 'zeitouny']
caitlin
['caitlin']
sullivan
['caitlin', 'sullivan']
hamlet
['hamlet']
hayrapetyan
['hamlet', 'hayrapetyan']
anvesh
['anvesh']
tripathi
['anvesh', 'tripathi']
derek
['derek']
myers
['derek', 'myers']
esther
['esther']
vidal
['esther', 'vidal']
andreu
['esther', 'vidal', 'andreu']
valdrin
['valdrin']
trena
['valdrin', 'trena']
lisa
['lisa']
trueblood
['lisa', 'trueblood']
ugam
['ugam']
kumar
['ugam', 'kumar']
afridha
['afridha']
permatasari
['afridha', 'permatasari']
lubis
['afridha', 'permatasari', 'lubis']
irén
['irn']
seres
['irn', 'seres']
tim
['tim']
heiler
['tim', 'heiler']
rajesh
['rajesh']
chowdary
['rajesh', 'chowdary']
matt
['matt']
matt
['matt', 'matt']
aliyu
['aliyu']
alkaleri
['aliyu', 'alkaleri']
kate
['kate']
yanke
['kate', 'yanke']
phuc
['phuc']
nguyen
['phuc', 'nguyen']
jannik
['jannik']
schewe
['jannik', 'schewe']
kourosh
['kourosh']
ehsan
['kourosh', 'ehsan']
maleki
['kourosh', 'ehsan', 'maleki']
malik
['malik']
ebers
['malik', 'ebers']
soumya
['soumya']
patil
['soumya', 'patil']
roswell
['roswell']
balentien
['roswell', 'balentien']
mari-liis
['mariliis']
algma
['mariliis', 'algma']
kelly
['kelly']
hsu
['kelly', 'hsu']
anmol
['anmol']
kawatra
['anmol', 'kawatra']
valentyna
['valentyna']
pilianska
['valentyna', 'pilianska']
nicola
['nicola']
di
['nicola', 'di']
nardo
['nicola', 'di', 'nardo']
matthias
['matthias']
siwy
['matthias', 'siwy']
hayyaan
['hayyaan']
ahmad
['hayyaan', 'ahmad']
matthieu
['matthieu']
sloves
['matthieu', 'sloves']
anna
['anna']
grosheva
['anna', 'grosheva']
max
['max']
grachev
['max', 'grachev']
johannes
['johannes']
holl
['johannes', 'holl']
lucas
['lucas']
zandoná
['lucas', 'zandon']
isabelle
['isabelle']
bedê
['isabelle', 'bed']
(she/her)
['isabelle', 'bed', 'sheher']
florian
['florian']
straub
['florian', 'straub']
natalia
['natalia']
anastasova
['natalia', 'anastasova']
anastasiia
['anastasiia']
kostrub
['anastasiia', 'kostrub']
ross
['ross']
kinmont
['ross', 'kinmont']
daniele
['daniele']
ronca
['daniele', 'ronca']
diane
['diane']
catherine
['diane', 'catherine']
gómez
['diane', 'catherine', 'gmez']
casas
['diane', 'catherine', 'gmez', 'casas']
thomas
['thomas']
seidl
['thomas', 'seidl']
ziyad
['ziyad']
muhammed
['ziyad', 'muhammed']
soumya
['soumya']
p
['soumya', 'p']
vishal
['vishal']
patil
['vishal', 'patil']
lualiny
['lualiny']
brito
['lualiny', 'brito']
ivan
['ivan']
rublev
['ivan', 'rublev']
chase
['chase']
richards
['chase', 'richards']
zulfiya
['zulfiya']
malyshenko
['zulfiya', 'malyshenko']
samuel
['samuel']
ghebreab
['samuel', 'ghebreab']
enes
['enes']
döke
['enes', 'dke']
peter
['peter']
rubarth
['peter', 'rubarth']
abhishek
['abhishek']
wabale
['abhishek', 'wabale']
marius
['marius']
dörrenbach
['marius', 'drrenbach']
niv
['niv']
david
['niv', 'david']
gourav
['gourav']
gulati
['gourav', 'gulati']
alberto
['alberto']
pérez
['alberto', 'prez']
prajwal
['prajwal']
negapettam
['prajwal', 'negapettam']
juan
['juan']
jose
['juan', 'jose']
mendoza
['juan', 'jose', 'mendoza']
santana
['juan', 'jose', 'mendoza', 'santana']
regina
['regina']
hell
['regina', 'hell']
neufeld
['regina', 'hell', 'neufeld']
christine
['christine']
thach
['christine', 'thach']
dima
['dima']
malyshenko
['dima', 'malyshenko']
tal
['tal']
karp-rudin
['tal', 'karprudin']
valeriia
['valeriia']
kaimashnikova
['valeriia', 'kaimashnikova']
zsolt
['zsolt']
pap
['zsolt', 'pap']
hussam
['hussam']
al
['hussam', 'al']
alfe
['hussam', 'al', 'alfe']
seb
['seb']
hapte-selassie
['seb', 'hapteselassie']
marc
['marc']
boner
['marc', 'boner']
daria
['daria']
lezhai
['daria', 'lezhai']
pradeep
['pradeep']
jayarama
['pradeep', 'jayarama']
khrystyna
['khrystyna']
svarychevska
['khrystyna', 'svarychevska']
fırat
['frat']
gömi
['frat', 'gmi']
christian
['christian']
n.
['christian', 'n']
mancini
['christian', 'n', 'mancini']
(he/him)
['christian', 'n', 'mancini', 'hehim']
erik
['erik']
vollstädt
['erik', 'vollstdt']
nikola
['nikola']
domazet
['nikola', 'domazet']
nataliia
['nataliia']
senatorova
['nataliia', 'senatorova']
nina
['nina']
mannheimer
['nina', 'mannheimer']
daniel
['daniel']
zherenkov
['daniel', 'zherenkov']
roland
['roland']
butler
['roland', 'butler']
mason
['mason']
jeong
['mason', 'jeong']
andrey
['andrey']
shilin
['andrey', 'shilin']
elisa
['elisa']
schenke
['elisa', 'schenke']
diana
['diana']
kryuchkova
['diana', 'kryuchkova']
adriano
['adriano']
ruiz
['adriano', 'ruiz']
yanyan
['yanyan']
ma
['yanyan', 'ma']
armin
['armin']
krahl
['armin', 'krahl']
veronica
['veronica']
sartore
['veronica', 'sartore']
katharina
['katharina']
andres
['katharina', 'andres']
siena
['siena']
chan
['siena', 'chan']
fernanda
['fernanda']
pugliero
['fernanda', 'pugliero']
lynn
['lynn']
ng
['lynn', 'ng']
jessica
['jessica']
he
['jessica', 'he']
lara
['lara']
orrico
['lara', 'orrico']
ifrah
['ifrah']
khanyaree
['ifrah', 'khanyaree']
fabius
['fabius']
weiner
['fabius', 'weiner']
christopher
['christopher']
piazza
['christopher', 'piazza']
rafael
['rafael']
weninger
['rafael', 'weninger']
ilaria
['ilaria']
di
['ilaria', 'di']
maio
['ilaria', 'di', 'maio']
timm
['timm']
kick
['timm', 'kick']
gaurav
['gaurav']
gulrajani
['gaurav', 'gulrajani']
ana
['ana']
reyes
['ana', 'reyes']
garcía
['ana', 'reyes', 'garca']
robert
['robert']
lange
['robert', 'lange']
darrena
['darrena']
mamm
['darrena', 'mamm']
valentin
['valentin']
loginov
['valentin', 'loginov']
mehmet
['mehmet']
dadal
['mehmet', 'dadal']
ercan
['mehmet', 'dadal', 'ercan']
ali
['ali']
al
['ali', 'al']
qaisi
['ali', 'al', 'qaisi']
mojtaba
['mojtaba']
fattahi
['mojtaba', 'fattahi']
matthias
['matthias']
theves
['matthias', 'theves']
jye
['jye']
jiun
['jye', 'jiun']
lu
['jye', 'jiun', 'lu']
(jj)
['jye', 'jiun', 'lu', 'jj']
johannes
['johannes']
wrubel
['johannes', 'wrubel']
fabian
['fabian']
zagel
['fabian', 'zagel']
miguel
['miguel']
barrero
['miguel', 'barrero']
julian
['julian']
lindloff
['julian', 'lindloff']
antonia
['antonia']
landi
['antonia', 'landi']
deniz
['deniz']
ozkan
['deniz', 'ozkan']
ruko
['ruko']
kuga
['ruko', 'kuga']
vignesh
['vignesh']
kalimuthu
['vignesh', 'kalimuthu']
milena
['milena']
fagandini
['milena', 'fagandini']
dr.
['dr']
else
['dr', 'else']
van
['dr', 'else', 'van']
der
['dr', 'else', 'van', 'der']
berg
['dr', 'else', 'van', 'der', 'berg']
matt
['matt']
roskovec
['matt', 'roskovec']
🇺🇦
['matt', 'roskovec', '']
paula
['paula']
andrea
['paula', 'andrea']
castro
['paula', 'andrea', 'castro']
matin
['matin']
borhani
['matin', 'borhani']
adi
['adi']
kantor
['adi', 'kantor']
borjan
['borjan']
nikolov
['borjan', 'nikolov']
chris
['chris']
schlichting
['chris', 'schlichting']
abdelah
['abdelah']
barmou
['abdelah', 'barmou']
fabio
['fabio']
muroni
['fabio', 'muroni']
stefanus
['stefanus']
ardhito
['stefanus', 'ardhito']
prasetya
['stefanus', 'ardhito', 'prasetya']
sanyam
['sanyam']
arya
['sanyam', 'arya']
johanna
['johanna']
kuhlee
['johanna', 'kuhlee']
⚡️
['johanna', 'kuhlee', '']
iasmina
['iasmina']
craciun
['iasmina', 'craciun']
oskar
['oskar']
salmhofer
['oskar', 'salmhofer']
dominik
['dominik']
hess
['dominik', 'hess']
anton
['anton']
gridz
['anton', 'gridz']
chris
['chris']
matthews
['chris', 'matthews']
valeria
['valeria']
flores-ducoing
['valeria', 'floresducoing']
beka
['beka']
kokoladze
['beka', 'kokoladze']
sönke
['snke']
peters
['snke', 'peters']
riccardo
['riccardo']
costi
['riccardo', 'costi']
zihan
['zihan']
wang
['zihan', 'wang']
marina
['marina']
ernst
['marina', 'ernst']
hiba
['hiba']
ganta
['hiba', 'ganta']
shruthi
['shruthi']
subramanian
['shruthi', 'subramanian']
jakub
['jakub']
uniejewski
['jakub', 'uniejewski']
yasir
['yasir']
qureshi
['yasir', 'qureshi']
dave
['dave']
feldman
['dave', 'feldman']
felix
['felix']
dahlmeyer
['felix', 'dahlmeyer']
elliot
['elliot']
altham
['elliot', 'altham']
beat
['beat']
weichsler
['beat', 'weichsler']
srishti
['srishti']
maitra
['srishti', 'maitra']
maurice
['maurice']
dücker
['maurice', 'dcker']
hadi
['hadi']
attaran
['hadi', 'attaran']
daniil
['daniil']
tykheev
['daniil', 'tykheev']
vimal
['vimal']
garg
['vimal', 'garg']
eli
['eli']
cohen
['eli', 'cohen']
benedetta
['benedetta']
montagnoli
['benedetta', 'montagnoli']
julian
['julian']
ringel
['julian', 'ringel']
benedetta
['benedetta']
formichi
['benedetta', 'formichi']
jyoti
['jyoti']
sharma
['jyoti', 'sharma']
nadine
['nadine']
radetzki
['nadine', 'radetzki']
stephanie
['stephanie']
bschorr
['stephanie', 'bschorr']
ana
['ana']
paula
['ana', 'paula']
miranda
['ana', 'paula', 'miranda']
joy
['joy']
chatterjee
['joy', 'chatterjee']
martin
['martin']
koo
['martin', 'koo']
rosenmejer
['martin', 'koo', 'rosenmejer']
charles
['charles']
vestal
['charles', 'vestal']
sarvesh
['sarvesh']
regmi
['sarvesh', 'regmi']
sam
['sam']
swasey
['sam', 'swasey']
piotr
['piotr']
tomaszewski
['piotr', 'tomaszewski']
dalma
['dalma']
szabo
['dalma', 'szabo']
leif
['leif']
neithöfer
['leif', 'neithfer']
deniz
['deniz']
öykü
['deniz', 'yk']
yıldız
['deniz', 'yk', 'yldz']
radu
['radu']
lupu
['radu', 'lupu']
olena
['olena']
shapoval
['olena', 'shapoval']
victoria
['victoria']
kotlova
['victoria', 'kotlova']
rodrigo
['rodrigo']
catão
['rodrigo', 'cato']
wally
['wally']
l
['wally', 'l']
lubena
['lubena']
awan
['lubena', 'awan']
lucas
['lucas']
minetti
['lucas', 'minetti']
vitalik
['vitalik']
kotik
['vitalik', 'kotik']
🇺🇦
['vitalik', 'kotik', '']
pasquale
['pasquale']
romito
['pasquale', 'romito']
nail
['nail']
valiyev
['nail', 'valiyev']
anvar
['anvar']
atash
['anvar', 'atash']
davud
['davud']
samadov
['davud', 'samadov']
alice
['alice']
mendeleyeva
['alice', 'mendeleyeva']
nadine
['nadine']
verbeek
['nadine', 'verbeek']
meltem
['meltem']
şeyma
['meltem', 'eyma']
behar
['meltem', 'eyma', 'behar']
jack
['jack']
lancaster
['jack', 'lancaster']
saki
['saki']
cansev
['saki', 'cansev']

/var/folders/5f/td3vxmq52mgbxcd36rlnh7wc0000gn/T/ipykernel_29737/2328978974.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data_scraped.fullName = data_scraped.fullName.apply(process_name_not_removing)

In [256]:
data_scraped['lastName'] = data_scraped['lastName'].fillna('').str.lower()
data_scraped.lastName = data_scraped.lastName.apply(process_name_not_removing)

/var/folders/5f/td3vxmq52mgbxcd36rlnh7wc0000gn/T/ipykernel_29737/1248005558.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data_scraped['lastName'] = data_scraped['lastName'].fillna('').str.lower()
/var/folders/5f/td3vxmq52mgbxcd36rlnh7wc0000gn/T/ipykernel_29737/1248005558.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data_scraped.lastName = data_scraped.lastName.apply(process_name_not_removing)

In [228]:
import re # REGEX
def basic_cleaning(sentence):

    # 1. Removing whitespaces
    sentence = sentence.strip()

    #5 remove non-alpha characters
    sentence = re.sub(r"[^a-zA-Z]", '', sentence)

    # 2. Lowercasing
    sentence = sentence.lower()

    # 3. Removing numbers
    sentence = ''.join(char for char in sentence if not char.isdigit())

    # remove tags
    sentence = re.sub('<[^<]+>', "", sentence)

    # 4. Removing punctuation
    for punctuation in str.punctuation:
        sentence = sentence.replace(punctuation, '')

    return sentence

In [238]:
def process_name_not_removing(name):
    '''
    Utility function to process names
    '''''
    words = name.lower().strip(" .").split()

    processed_name = []
    # Iterate through each word
    for word in words:
        # Normalize the string to decomposed Unicode form
        word = basic_cleaning(word)
        normalized_s = unicodedata.normalize('NFD', word)        
        # Remove non-spacing marks (special characters)
        stripped_s = ''.join(c for c in normalized_s if unicodedata.category(c) != 'Mn')
        processed_name.append(stripped_s)
    return ' '.join(processed_name)

In [236]:
process_name_not_removing("fásdfg Npoih%7bx😆")

fásdfg
['fsdfg']
npoih%7bx😆
['fsdfg', 'npoihbx']

'fsdfg npoihbx'

In [246]:
unique_attendees2['Company'] = unique_attendees2[['Company']].fillna('')

In [260]:
unique_attendees2.fullName = unique_attendees2.fullName.apply(process_name_not_removing)

In [247]:
unique_attendees2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 781 entries, 0 to 780
Data columns (total 11 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   fullName            781 non-null    object
 1   numEvents           781 non-null    int64
 2   First Name          781 non-null    object
 3   Surname             781 non-null    object
 4   Email               781 non-null    object
 5   Company             781 non-null    object
 6   Your Job Position   523 non-null    object
 7   Choose your role    364 non-null    object
 8   Choose your role.1  77 non-null     object
 9   Seniority           55 non-null     object
 10  UserID              781 non-null    int64
dtypes: int64(2), object(9)
memory usage: 67.2+ KB

In [268]:
data_scraped['UserID'] = float('nan')

/var/folders/5f/td3vxmq52mgbxcd36rlnh7wc0000gn/T/ipykernel_29737/1554709938.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data_scraped['UserID'] = float('nan')

In [274]:
for j, row_ids in unique_attendees2.iterrows():
    # Iterate through each row in the scraped DataFrame
    found = False
    for index_scraped, row_scraped in data_scraped.iterrows():
        # Check if the rows match using the custom matching function
        if custom_user_matching(row_scraped, row_ids):
            # If a match is found, add the userID from the ids DataFrame to the scraped DataFrame
            data_scraped.at[index_scraped, 'UserID'] = row_ids['UserID']
            # data_scraped.at[index_scraped, 'Attendance'] = row_ids['Attendee Status']
            found = True
            break

    if found == False:
        print(f"Not found userID {row_ids['UserID']}  {row_ids['fullName']} {row_ids['Email']}")

Full name matched abdelrahman elfar for user 0
Last name from full name matched wahba abdo wahba for user 1
Not found userID 2  abhi kasoju kasoju.abhinaya@gmail.com
Not found userID 3  abhishek agarwal aggyabhishek@gmail.com
Full name matched abhishek khatri for user 4
Full name matched abhishek wabale for user 5
Full name matched abolfazl jafarzadehpour for user 6
Not found userID 7  adithya krishnamurthy pkadithya90@gmail.com
Not found userID 8  aditya bhirangi aditya_atul.bhirangi@edu.escp.eu
Full name matched aditya konarde for user 9
Full name matched aditya raghunath for user 10
Full name matched adriano ruiz for user 11
Full name matched adva bendov for user 12
Full name matched agnel joby for user 13
Not found userID 14  ahilan sundaralingam ahilan@be-light.app
Last name from full name matched ahmad ahmad saeed for user 15
Last name from full name matched ahmed ahmed ragab for user 16
Full name matched aino kivinen for user 17
Not found userID 18  akhrorova karomat tarkankaromat7@gmail.com
Not found userID 19  akshay rote akshay.rote@gmail.com
Your Job Position matched!!! al dede natalia pnshina for user 20
Not found userID 21  alberto drateln albertovon@gmail.com
Not found userID 22  alberto monaldi a.monaldi7@gmail.com
Not found userID 24  aleksandr simukovic aleksandras.simukovic@gmail.com
Full name matched aleksandr volosha for user 25
Full name matched aleksej ruckoj for user 26
Full name matched aleksey goncharenko for user 27
Full name matched alessandra bari for user 28
Full name matched alessandra fiorentino for user 29
Your Job Position matched!!! alex boase alexander bahlk for user 31
Your Job Position matched!!! alex bychok alexander bahlk for user 32
Not found userID 33  alex diudiuk salesmacho@gmail.com
Last name from full name matched fife alex fife for user 34
Not found userID 35  alex gearing alexmgearing@gmail.com
Your Job Position matched!!! alex simukovic alexander bahlk for user 36
Full name matched alexander bahlk for user 37
Full name matched alexander fife for user 38
Not found userID 39  alexander suevalov suevalov.me@gmail.com
Last name from full name matched maximova alexandra maximova for user 40
Not found userID 41  alexandre landrieu alexandrelandrieu@gmail.com
Your Job Position matched!!! ali badawy natalia pnshina for user 42
Your Job Position matched!!! ali mahmoud natalia pnshina for user 43
Full name matched alice mendeleyeva for user 44
Not found userID 45  alicia mallor m.h.altea@gmail.com
Not found userID 46  alina nekrasova nekrasova.alina99@gmail.com
Last name from full name matched palmer alli palmer for user 47
Not found userID 48  allison orsoni allison.orsoni@essec.edu
Not found userID 49  amaka madueke amakagift10@gmail.com
Last name from full name matched sadique aman sadique for user 50
Last name from full name matched kern amelie kerne for user 51
Full name matched amin jmyi for user 52
Not found userID 53  amit koshta koshtaiitk@gmail.com
Full name matched amon fayz for user 54
Your Job Position matched!!! ana miranda anastasia bakhmutova for user 55
Your Job Position matched!!! ana reyes anastasia kozmna for user 56
Last name from full name matched datta anamika datta for user 57
Not found userID 58  anand sridhar anandsridhar2073@gmail.com
Not found userID 59  anant parashar anant.parashar@esmt.education
Full name matched anastasia bakhmutova for user 60
Your Job Position matched!!! anastasia buryak anastasia bakhmutova for user 61
Not found userID 63  anastasia radziwill nastjadaff@gmail.com
Full name matched anastasiia kostrub for user 64
Not found userID 65  anastasiia kuzenkova kuzenkovanastya@gmail.com
Not found userID 66  andre basora afbasora@gmail.com
Not found userID 67  andrea guerra guerra.a82@gmail.com
Last name from full name matched motta andrea motta for user 68
Full name matched andrea picco for user 69
Not found userID 70  andrei alekseev andr.alksv@gmail.com
Last name from full name matched andres andres velandia for user 71
Full name matched andrew quan for user 72
Not found userID 73  andrey rk andrewklauds@gmail.com
Full name matched andrey shilin for user 74
Full name matched angel poon for user 75
Last name from full name matched angela angela garay for user 76
Not found userID 77  anica klinglermandig ruck.sack@posteo.de
Full name matched aniket ambekar for user 78
Full name matched ankit morajkar for user 80
Full name matched anmol kawatra for user 81
Your Job Position matched!!! ann khamitova jona david hoffmann for user 82
Not found userID 83  annchristin schonert annchristin2008@yahoo.de
Full name matched anna grosheva for user 84
Full name matched anna lukyanovich for user 85
Not found userID 86  anna schumacher anna-schumacher@gmx.net
Full name matched anna suprun for user 87
Full name matched anne bauer for user 88
Full name matched annie li for user 89
Not found userID 90  annika wiedera annikawiedera@aol.com
Full name matched antonia landi for user 91
Not found userID 92  anuja rana anuja.rana60@gmail.com
Full name matched anvar atash for user 93
Full name matched aqif hamid for user 94
Full name matched arailym kaiyrova for user 95
Full name matched ariel wu for user 96
Not found userID 97  arik mezan amezan@gmail.com
Full name matched arina ignatenkova for user 98
Last name from full name matched kress aris kresskallidromitis for user 99
Full name matched arkadeep sur for user 100
Full name matched armin krahl for user 101
Not found userID 102  artem ustinov ustinov.artem89@gmail.com
Full name matched arthur annebicque for user 103
Not found userID 104  arysthina arysanto theena.madeline@gmail.com
Not found userID 107  augustina adolf augustina.adolf@gmail.com
Last name from full name matched karadayilar aybala karadayilar for user 108
Full name matched ayman chalhoub for user 109
Full name matched babatunde kufo for user 110
Full name matched balaji alagu for user 111
Last name from full name matched syahroni banirahma syahroni for user 112
Not found userID 113  basak akdas basakakdascan@gmail.com
Not found userID 114  basavantrayagouda basanagouda vishalmu66@gmail.com
Last name from full name matched busshardt bastian busshardt for user 115
Last name from full name matched bonnet bastien bonneton for user 116
Not found userID 117  bayangmbe mounmo bayangp0@gmail.com
Full name matched beat weichsler for user 118
Full name matched beatriz ponce for user 119
Not found userID 120  bedrettin guener gunerb@gmail.com
Full name matched beka kokoladze for user 121
Full name matched bella grigoryants for user 122
Full name matched benedetta montagnoli for user 124
Not found userID 125  benjamin schriefer charlottenviertel.bs@gmail.com
Not found userID 126  bhargavi mandadi mandhadi.bhargavireddy@gmail.com
Full name matched blagojche kuzevski for user 127
Full name matched blen baheru for user 128
Full name matched bola oyebo for user 129
Last name from full name matched awan bonsuk awani for user 130
Full name matched borjan nikolov for user 131
Full name matched braian lugo for user 132
Not found userID 133  bruno pacheco bruno.pacheco.pro@gmail.com
Full name matched burak yigen for user 134
Full name matched busayomi omotosho for user 135
Not found userID 136  cain hayward cainhayward.de.ux@gmail.com
Full name matched caitlin sullivan for user 137
Full name matched camila jatahy for user 138
Not found userID 139  carlos alvarez cgalindo@babbel.com
Full name matched carlotta clauter for user 140
Last name from full name matched arzamendi carolina arzamendi for user 141
Not found userID 142  carolina gomes carol.caiadogomes@gmail.com
Not found userID 143  catarina pinto catarinapp24@gmail.com
Last name from full name matched casas catherine gomez for user 144
Full name matched cemal toprak for user 146
Not found userID 147  chaitra taori chaitrataori2@gmail.com
Last name from full name matched mehmi chan mehmi for user 148
Last name from full name matched chan chandrashekhar surve for user 149
Full name matched charles vestal for user 150
Full name matched charline goethals for user 151
Last name from full name matched cheri cheri s for user 152
Not found userID 153  cheslin orie chesorie@gmail.com
Last name from full name matched matt chris matthews for user 154
Last name from full name matched piazza chris piazz for user 155
Full name matched chris schlichting for user 156
Last name from full name matched tian christian barra for user 157
Last name from full name matched tian christian castillo for user 158
Last name from full name matched tian christian mancini for user 159
Full name matched christine plotz for user 160
Full name matched christine thach for user 161
Not found userID 162  christoph bresler cbresler@digitale-leute.de
Last name from full name matched hahn christopher hahn for user 163
Not found userID 164  colleen mccracken colleenmcc03@gmail.com
Not found userID 165  cuilu fan cuilu.fan@gmail.com
Full name matched dalma szabo for user 166
Last name from full name matched krause dan krause for user 167
Last name from full name matched bartholomae daniel bartholomae for user 168
Full name matched daniel r for user 170
Full name matched daniel schwarz for user 171
Your Job Position matched!!! daniel zherenkov daniel schwarz for user 172
Full name matched daniele ronca for user 174
Full name matched daniil tykheev for user 175
Not found userID 176  danish kanojia danishmcanit@gmail.com
Full name matched daria elson for user 177
Not found userID 178  daria kurchinskaia d.kurchinskaya@yandex.ru
Full name matched daria lezhai for user 179
Not found userID 180  daria shyman daria.shyman@gmail.com
Not found userID 181  darian kusuma darian.kusuma@vimcar.com
Not found userID 182  darinka burovska burovska@gmail.com
Full name matched darrena mamm for user 183
Last name from full name matched david dave feldman for user 184
Last name from full name matched david david grund for user 185
Last name from full name matched hoffmann david hoffmann for user 186
Last name from full name matched david david wenk for user 187
Full name matched davud samadov for user 188
Not found userID 189  deanna wright deanna.j.wright@gmail.com
Last name from full name matched rakshit debarati rakshit for user 190
Full name matched denis liggeri for user 191
Full name matched denis zlobin for user 192
Full name matched derek myers for user 194
Not found userID 195  desiree maestri maestri.desiree@gmail.com
Full name matched despoina sarikou for user 196
Full name matched dheeraj suvarna for user 198
Full name matched dilan gevsek for user 200
Last name from full name matched malyshenko dima malyshenko for user 201
Full name matched dmitry deniskin for user 202
Full name matched dominik hess for user 203
Last name from full name matched kress dominik kress for user 204
Not found userID 205  dominik wenzel dominik.wenzel@outlook.com
Full name matched dulano asalemo for user 206
Full name matched duroseme taylor for user 207
Full name matched egor zakharov for user 208
Your Job Position matched!!! ekaterina firsova ekaterina zenkevich  for user 209
Last name from full name matched zenkevich ekaterina zenkevich for user 210
Full name matched eleftherios christou for user 211
Full name matched elena berendeeva for user 212
Not found userID 213  elena kalambet tpe-cka@yandex.ru
Full name matched elena sergiampietri for user 214
Not found userID 215  elena t tuzhikova.el@gmail.com
Full name matched eli cohen for user 216
Last name from full name matched kargruber elia kargruber for user 217
Full name matched elif bakkal for user 218
Not found userID 219  elif gumus gumuselif84@gmail.com
Full name matched elisa marku for user 221
Not found userID 222  elisa song elisa.shanghai@gmail.com
Not found userID 224  elisabeth chung echung@babbel.com
Last name from full name matched hirvensalo eliza hirvensalo for user 225
Not found userID 226  elizaveta pogasii lisa.pogasii@gmail.com
Not found userID 227  ellen sea ellen.v.sea@gmail.com
Full name matched elliot altham for user 228
Not found userID 229  elroy chibex elroychibex@gmail.com
Last name from full name matched berg else berg for user 230
Full name matched emanoil topalov for user 231
Full name matched emanuele libralato for user 232
Not found userID 233  emilie wong emiliexw@gmail.com
Not found userID 237  erfolk events evtbrt22@elevanation.com
Your Job Position matched!!! erin bohmiller ekaterina zenkevich  for user 239
Choose your role matched!!! esther vidal esther vidal andreu for user 240
Full name matched evgenia adam for user 241
Full name matched evgeniia golubeva for user 242
Full name matched ewa kiwus for user 243
Full name matched fabian kleeberger for user 244
Last name from full name matched zagel fabian zag for user 245
Full name matched fabio muroni for user 246
Full name matched fabius weiner for user 247
Not found userID 248  faheem mohammad faheem7791@gmail.com
Full name matched faisal khushnood for user 249
Full name matched farideh samadi for user 250
Full name matched felix dahlmeyer for user 251
Full name matched felix preuss for user 252
Full name matched fernanda pugliero for user 253
Not found userID 254  feten mansour feten.bmansour@gmail.com
Full name matched filippo palmieri for user 255
Not found userID 256  finn geldermann finn@co-ps.com
Full name matched florian bonnet for user 258
Full name matched florian straub for user 259
Full name matched francesco paltrinieri for user 260
Not found userID 261  galynka naumenko mrs.nazaruk@gmail.com
Not found userID 262  gary touet garytouet@gmail.com
Your Job Position matched!!! gaurav bobhate gaurav gulrajani for user 263
Full name matched gautami pandit for user 265
Not found userID 266  geonyoung lee geonyoung.lee.inbox@gmail.com
Last name from full name matched george george gibson for user 267
Full name matched georgiana ciobotaru for user 268
Full name matched giacomo giorgianni for user 269
Not found userID 270  giacomo hendel giacomo.he@gmail.com
Full name matched girish nalwade for user 272
Full name matched grace hur for user 273
Last name from full name matched bras gregoire bras for user 274
Not found userID 275  guillaume belhaj guillaume.belhaj@esmt.education
Not found userID 276  gulsemin demir gulseminrisvan@gmail.com
Full name matched hadi attaran for user 277
Not found userID 278  halina tkaczenko hala.tkaczenko@gmail.com
Full name matched hamlet hayrapetyan for user 279
Last name from full name matched naqvi hasan naqvi for user 280
Full name matched hashir rizwan for user 281
Full name matched hayyaan ahmad for user 282
Not found userID 283  heba ledwon heba.ledwon@gmail.com
Not found userID 284  heike lewerenz heike-lewerenz@gmx.de
Not found userID 285  heloisa piccirilli heloisa.piccirilli@gmail.com
Full name matched heorhi talochka for user 286
Full name matched hiba ganta for user 287
Full name matched hiya gaine for user 288
Full name matched hosna shayani for user 289
Not found userID 290  hugo lofquist events@hugolofquist.com
Not found userID 291  hussam shams hussam.shams@gmail.com
Full name matched iasmina craciun for user 292
Full name matched ifrah khanyaree for user 293
Not found userID 294  ignasi buch ignasibuch@gmail.com
Not found userID 295  igor kochman kochman.iv@gmail.com
Full name matched igor lahr for user 296
Your Job Position matched!!! ilan zarantonello milana magurina for user 297
Full name matched ilya blokh for user 299
Full name matched ilya egorov for user 300
Not found userID 301  ilya sidyakin sidyaking@gmail.com
Full name matched indah harahap for user 302
Full name matched ines jordan for user 303
Not found userID 304  ira sheveleva hiirinasheveleva@gmail.com
Last name from full name matched seres iren seres for user 305
Not found userID 307  irene lavandera pacinha84@gmail.com
Choose your role matched!!! irina protasevich irina reinerth for user 308
Full name matched irina reinerth for user 309
Your Job Position matched!!! irina timofeeva irina reinerth for user 310
Not found userID 311  irina ukhanova ukhanovait@gmail.com
Full name matched irma gagulia for user 312
Not found userID 313  irmela sinkewitsch irmela@unlearnbusinesslab.com
Full name matched isabella beck for user 314
Not found userID 316  isabelle silfver isabelle.silfver@gmail.com
Not found userID 317  issagha diop issagh27@gmail.com
Full name matched iswarya sakthivel for user 318
Full name matched itir ergin for user 319
Last name from full name matched andres iuliana petrescu for user 320
Full name matched ivan dudarev for user 321
Full name matched ivan rublev for user 322
Not found userID 323  izzat raihan official.izzatr@gmail.com
Full name matched jack lancaster for user 324
Full name matched jakub uniejewski for user 325
Not found userID 326  jane uzunovski jane@basicmath.co.jp
Not found userID 327  janet mao janet.w.mao@gmail.com
Full name matched janine magayanes for user 328
Full name matched jannik schewe for user 329
Not found userID 330  japhet ngoie japhetngoie184@gmail.com
Not found userID 331  jatna algarra jat.algarra@gmail.com
Not found userID 333  javier inocente javinocente@gmail.com
Not found userID 334  jeeva john jeevajohn0079@gmail.com
Not found userID 337  jess he jhe@hellofresh.com
Not found userID 338  jiaxin l casin.lau@foxmail.com
Last name from full name matched perrevoort jil perrevoort for user 339
Full name matched jitesh nayak for user 340
Not found userID 342  joanna bienko jmbienko@gmail.com
Full name matched joanna wilkans for user 343
Not found userID 345  johannes caspari johannes@caspari5.de
Full name matched johannes holl for user 346
Full name matched johannes schweig for user 347
Full name matched johannes wrubel for user 348
Full name matched john ngo for user 349
Choose your role matched!!! juan mendoza juan jose mendoza santana for user 350
Full name matched jules nijskens for user 351
Full name matched julia gentsch for user 352
Full name matched julia oehme for user 353
Full name matched julia steier for user 354
Full name matched julian lindloff for user 355
Full name matched julian ringel for user 356
Full name matched jyoti sharma for user 358
Your Job Position matched!!! kai wieland valeriia kaimashnikova for user 359
Last name from full name matched berg kaisa berger for user 360
Not found userID 361  karina dubovik dubovikkn@gmail.com
Full name matched karina hasler for user 362
Full name matched karl villanueva for user 363
Full name matched karolina kiszela for user 364
Full name matched kate yanke for user 365
Not found userID 366  kateryna kovtunovych katrina630@gmail.com
Full name matched katharina andres for user 367
Full name matched kelly hsu for user 369
Not found userID 370  ken knoll ken.knoll@gmail.com
Last name from full name matched matt ken r for user 371
Not found userID 372  khemara ang engkhemara.ang@gmail.com
Full name matched khrystyna svarychevska for user 373
Full name matched kimberly schmitt for user 374
Not found userID 375  kirandeep kaur kdkaur89@gmail.com
Not found userID 376  klara haas klara-h@gmx.net
Full name matched klara murzabekova for user 377
Last name from full name matched maleki kourosh maleki for user 378
Last name from full name matched chan krischan mertens for user 379
Full name matched krishen mertens for user 380
Last name from full name matched tian kristian herger for user 381
Last name from full name matched ruseva kristina ruseva for user 382
Full name matched krutika gopalakrishnan for user 383
Full name matched krzysztof glistak for user 384
Full name matched kseniia shyshkova for user 385
Full name matched kunal kava for user 386
Not found userID 387  kzltan yuceil kiziltan.yuceil@gmail.com
Full name matched lara orrico for user 388
Full name matched laura soto for user 389
Full name matched leon gerdes for user 390
Not found userID 391  leonard kehl kehl.leonard@gmail.com
Full name matched leonardo tognon for user 392
Not found userID 393  liliana pereira lilianapereira1000@gmail.com
Not found userID 394  lilika schulteostermann lilikamagdalena@gmail.com
Full name matched linn legros for user 395

In [271]:

# Iterate through each row in the ids DataFrame
for j, row_ids in unique_attendees2.iterrows():
    # Iterate through each row in the scraped DataFrame
    found = False
    for index_scraped, row_scraped in data_scraped.iterrows():
        # Check if the rows match using the custom matching function
        if custom_user_matching(row_scraped, row_ids):
            # If a match is found, add the userID from the ids DataFrame to the scraped DataFrame
            data_scraped.at[index_scraped, 'UserID'] = row_ids['UserID']
            # data_scraped.at[index_scraped, 'Attendance'] = row_ids['Attendee Status']
            found = True
            break
    if found == False:
 #       print(row_ids["fullName"], row_ids["Email"])

Full name matched abdelrahman elfar
Last name from full name matched wahba abdo wahba
First name matched, but not found :( abhi abhishek wabale
First name matched, but not found :( abhi abhishek khatri
First name matched, but not found :( abhi abhishek khanna
First name matched, but not found :( abhi abhinav paul
First name matched, but not found :( abhishek abhishek wabale
First name matched, but not found :( abhishek abhishek khatri
First name matched, but not found :( abhishek abhishek khanna
First name matched, but not found :( abhishek abhishek wabale
Full name matched abhishek khatri
Full name matched abhishek wabale
Full name matched abolfazl jafarzadehpour
First name matched, but not found :( aditya aditya raghunath
First name matched, but not found :( aditya aditya konarde
First name matched, but not found :( aditya aditya varma penmetsa
First name matched, but not found :( aditya aditya raghunath
Full name matched aditya konarde
Full name matched aditya raghunath
Full name matched adriano ruiz
Full name matched adva bendov
Full name matched agnel joby
Last name from full name matched ahmad ahmad saeed
Last name from full name matched ahmed ahmed ragab
Full name matched aino kivinen
First name matched, but not found :( al ayman chalhoub
First name matched, but not found :( al salvatorina rassu
First name matched, but not found :( al nikita zavyalov
Your Job Position matched!!! al natalia pnshina
First name matched, but not found :( alberto alberto prez
First name matched, but not found :( alberto alberto prez
First name matched, but not found :( aleksandr aleksandr volosha
First name matched, but not found :( aleksandr aleksandra tusz
Full name matched aleksandr volosha
Full name matched aleksej ruckoj
Full name matched aleksey goncharenko
Full name matched alessandra bari
First name matched, but not found :( alessandra alessandra bari
First name matched, but not found :( alessandra alessandra i
Full name matched alessandra fiorentino
First name matched, but not found :( alessandra alessandra bari
First name matched, but not found :( alex alexander fife
First name matched, but not found :( alex alexander charles boase cspo
Your Job Position matched!!! alex alexander bahlk
First name matched, but not found :( alex alexander fife
First name matched, but not found :( alex alexander charles boase cspo
Your Job Position matched!!! alex alexander bahlk
First name matched, but not found :( alex alexander fife
First name matched, but not found :( alex alexander charles boase cspo
First name matched, but not found :( alex alexander bahlk
First name matched, but not found :( alex alexandra sasha maximova
First name matched, but not found :( alex iuliana petrescu formerly alexandrescu
Last name from full name matched fife alex fife
First name matched, but not found :( alex alexander fife
First name matched, but not found :( alex alexander charles boase cspo
First name matched, but not found :( alex alexander bahlk
First name matched, but not found :( alex alexandra sasha maximova
First name matched, but not found :( alex iuliana petrescu formerly alexandrescu
First name matched, but not found :( alex alexander fife
First name matched, but not found :( alex alexander charles boase cspo
Your Job Position matched!!! alex alexander bahlk
First name matched, but not found :( alexander alexander fife
First name matched, but not found :( alexander alexander charles boase cspo
Full name matched alexander bahlk
Full name matched alexander fife
First name matched, but not found :( alexander alexander fife
First name matched, but not found :( alexander alexander charles boase cspo
First name matched, but not found :( alexander alexander bahlk
Last name from full name matched maximova alexandra maximova
First name matched, but not found :( alexandre iuliana petrescu formerly alexandrescu
Your Job Position matched!!! ali natalia pnshina
Your Job Position matched!!! ali natalia pnshina
Full name matched alice mendeleyeva
First name matched, but not found :( alina andrea catalina motta
Last name from full name matched palmer alli palmer
First name matched, but not found :( allison allison palmer
First name matched, but not found :( aman shruthi subramanian
Last name from full name matched sadique aman sadique
Last name from full name matched kern amelie kerne
Full name matched amin jmyi
Full name matched amon fayz
First name matched, but not found :( ana nuwan withanage
First name matched, but not found :( ana marijana medina
First name matched, but not found :( ana anastasia kozmna
Your Job Position matched!!! ana anastasia bakhmutova
First name matched, but not found :( ana nuwan withanage
First name matched, but not found :( ana marijana medina
Your Job Position matched!!! ana anastasia kozmna
Last name from full name matched datta anamika datta
First name matched, but not found :( anant ananthakrishnan syamaprasad
First name matched, but not found :( anastasia anastasia kozmna
Full name matched anastasia bakhmutova
First name matched, but not found :( anastasia anastasia kozmna
Your Job Position matched!!! anastasia anastasia bakhmutova
First name matched, but not found :( anastasia anastasia kozmna
First name matched, but not found :( anastasia anastasia bakhmutova
First name matched, but not found :( anastasia anastasia buryak
Full name matched anastasiia kostrub
First name matched, but not found :( anastasiia anastasiia kostrub
First name matched, but not found :( andre andrey schfer
First name matched, but not found :( andre andrea picco
First name matched, but not found :( andre andrea catalina motta
First name matched, but not found :( andre esther vidal andreu
First name matched, but not found :( andre andrey shilin
First name matched, but not found :( andre katharina andres
First name matched, but not found :( andre paula andrea castro
First name matched, but not found :( andre andrew quan
First name matched, but not found :( andre iuliana petrescu formerly alexandrescu
First name matched, but not found :( andrea andrea picco
First name matched, but not found :( andrea andrea catalina motta
First name matched, but not found :( andrea paula andrea castro
First name matched, but not found :( andrea andrea picco
Last name from full name matched motta andrea motta
Full name matched andrea picco
Last name from full name matched andres andres velandia
Full name matched andrew quan
First name matched, but not found :( andrey andrey schfer
First name matched, but not found :( andrey andrey shilin
First name matched, but not found :( andrey andrey schfer
Full name matched andrey shilin
Full name matched angel poon
Last name from full name matched angela angela garay
Full name matched aniket ambekar
Full name matched ankit morajkar
Full name matched anmol kawatra
First name matched, but not found :( ann annemarie sagner
Your Job Position matched!!! ann jona david hoffmann
First name matched, but not found :( anna anna lukyanovich
First name matched, but not found :( anna anna schneitz
Full name matched anna grosheva
Full name matched anna lukyanovich
First name matched, but not found :( anna anna lukyanovich
First name matched, but not found :( anna anna schneitz
First name matched, but not found :( anna anna grosheva
First name matched, but not found :( anna johanna kuhlee
First name matched, but not found :( anna anna suprun
First name matched, but not found :( anna joanna wilkans
First name matched, but not found :( anna snezhanna mineeva
First name matched, but not found :( anna sanna tietjen
First name matched, but not found :( anna abhishek khanna
First name matched, but not found :( anna anna lukyanovich
First name matched, but not found :( anna anna schneitz
First name matched, but not found :( anna anna grosheva
First name matched, but not found :( anna johanna kuhlee
Full name matched anna suprun
First name matched, but not found :( anne annemarie sagner
First name matched, but not found :( anne johannes holl
First name matched, but not found :( anne johannes wrubel
Full name matched anne bauer
Full name matched annie li
Full name matched antonia landi
Full name matched anvar atash
Full name matched aqif hamid
Full name matched arailym kaiyrova
Full name matched ariel wu
First name matched, but not found :( arik despoina sarikou
First name matched, but not found :( arina catarina pinto phd
First name matched, but not found :( arina katharina andres
First name matched, but not found :( arina marina ernst
First name matched, but not found :( arina karina hasler
Full name matched arina ignatenkova
First name matched, but not found :( aris jeanluc herv  martinettidubuisson europaunion paris
Last name from full name matched kress aris kresskallidromitis
Full name matched arkadeep sur
Full name matched armin krahl
Full name matched arthur annebicque
Last name from full name matched karadayilar aybala karadayilar
Full name matched ayman chalhoub
Full name matched babatunde kufo
Full name matched balaji alagu
Last name from full name matched syahroni banirahma syahroni
Last name from full name matched busshardt bastian busshardt
Last name from full name matched bonnet bastien bonneton
Full name matched beat weichsler
Full name matched beatriz ponce
Full name matched beka kokoladze
First name matched, but not found :( bella isabella beck
Full name matched bella grigoryants
Full name matched benedetta montagnoli
Full name matched blagojche kuzevski
Full name matched blen baheru
Full name matched bola oyebo
Last name from full name matched awan bonsuk awani
Full name matched borjan nikolov
Full name matched braian lugo
Full name matched burak yigen
Full name matched busayomi omotosho
Full name matched caitlin sullivan
Full name matched camila jatahy
Full name matched carlotta clauter
Last name from full name matched arzamendi carolina arzamendi
First name matched, but not found :( carolina carolina torres arzamendi
First name matched, but not found :( catarina catarina pinto phd
First name matched, but not found :( catherine catherine windorf
Last name from full name matched casas catherine gomez
Full name matched cemal toprak
First name matched, but not found :( chan liya kachanova
Last name from full name matched mehmi chan mehmi
Last name from full name matched chan chandrashekhar surve
First name matched, but not found :( charles alexander charles boase cspo
Full name matched charles vestal
Full name matched charline goethals
Last name from full name matched cheri cheri s
First name matched, but not found :( chris christine plotz
First name matched, but not found :( chris annchristin schnert
Last name from full name matched matt chris matthews
First name matched, but not found :( chris christine plotz
First name matched, but not found :( chris annchristin schnert
First name matched, but not found :( chris christine thach
First name matched, but not found :( chris christian n mancini hehim
Last name from full name matched piazza chris piazz
First name matched, but not found :( chris christine plotz
First name matched, but not found :( chris annchristin schnert
First name matched, but not found :( chris christine thach
First name matched, but not found :( chris christian n mancini hehim
First name matched, but not found :( chris christopher piazza
Full name matched chris schlichting
First name matched, but not found :( christian christian n mancini hehim
First name matched, but not found :( christian christian hoffmeister
Last name from full name matched tian christian barra
First name matched, but not found :( christian christian n mancini hehim
First name matched, but not found :( christian christian hoffmeister
Last name from full name matched tian christian castillo
First name matched, but not found :( christian christian n mancini hehim
First name matched, but not found :( christian christian hoffmeister
Last name from full name matched tian christian mancini
Full name matched christine plotz
First name matched, but not found :( christine christine plotz
Full name matched christine thach
First name matched, but not found :( christoph christopher piazza
First name matched, but not found :( christopher christopher piazza
Last name from full name matched hahn christopher hahn
Full name matched dalma szabo
First name matched, but not found :( dan daniela knstle
First name matched, but not found :( dan ines jordan
First name matched, but not found :( dan daniel schwarz
First name matched, but not found :( dan daniel r
First name matched, but not found :( dan  daniel bartholomae
Last name from full name matched krause dan krause
First name matched, but not found :( daniel daniela knstle
First name matched, but not found :( daniel daniel schwarz
First name matched, but not found :( daniel daniel r
Last name from full name matched bartholomae daniel bartholomae
First name matched, but not found :( daniel daniela knstle
First name matched, but not found :( daniel daniel schwarz
First name matched, but not found :( daniel daniel r
First name matched, but not found :( daniel  daniel bartholomae
First name matched, but not found :( daniel daniele ronca
First name matched, but not found :( daniel daniel zherenkov
First name matched, but not found :( daniel daniela knstle
First name matched, but not found :( daniel daniel schwarz
Full name matched daniel r
First name matched, but not found :( daniel daniela knstle
Full name matched daniel schwarz
First name matched, but not found :( daniel daniela knstle
Your Job Position matched!!! daniel daniel schwarz
Full name matched daniele ronca
First name matched, but not found :( daniil daniil matkov
Full name matched daniil tykheev
Full name matched daria elson
First name matched, but not found :( daria daria elson
First name matched, but not found :( daria daria lezhai
First name matched, but not found :( daria daria elson
Full name matched daria lezhai
First name matched, but not found :( daria daria elson
First name matched, but not found :( daria daria lezhai
Full name matched darrena mamm
Last name from full name matched david dave feldman
First name matched, but not found :( david jona david hoffmann
Last name from full name matched david david grund
Last name from full name matched hoffmann david hoffmann
First name matched, but not found :( david jona david hoffmann
Last name from full name matched david david wenk
Full name matched davud samadov
Last name from full name matched rakshit debarati rakshit
First name matched, but not found :( denis dmitry deniskin
Full name matched denis liggeri
First name matched, but not found :( denis dmitry deniskin
First name matched, but not found :( denis denis liggeri
Full name matched denis zlobin
First name matched, but not found :( deniz deniz ozkan
Full name matched derek myers
Full name matched despoina sarikou
Full name matched dheeraj suvarna
Full name matched dilan gevsek
Last name from full name matched malyshenko dima malyshenko
Full name matched dmitry deniskin
Full name matched dominik hess
Last name from full name matched kress dominik kress
First name matched, but not found :( dominik dominik hess
First name matched, but not found :( dominik dominik kress
Full name matched dulano asalemo
Full name matched duroseme taylor
Full name matched egor zakharov
Your Job Position matched!!! ekaterina ekaterina zenkevich
Last name from full name matched zenkevich ekaterina zenkevich
Full name matched eleftherios christou
Full name matched elena berendeeva
First name matched, but not found :( elena elena berendeeva
First name matched, but not found :( elena elena sergiampietri
First name matched, but not found :( elena elena berendeeva
Full name matched elena sergiampietri
First name matched, but not found :( elena elena berendeeva
First name matched, but not found :( elena elena sergiampietri
First name matched, but not found :( eli elisabeta g
First name matched, but not found :( eli marcin belinski
First name matched, but not found :( eli elia jona kargruber
First name matched, but not found :( eli elif zakmak
First name matched, but not found :( eli elisa schenke
First name matched, but not found :( eli felix dahlmeyer
Full name matched eli cohen
Last name from full name matched kargruber elia kargruber
First name matched, but not found :( elif elif zakmak
Full name matched elif bakkal
First name matched, but not found :( elif elif zakmak
First name matched, but not found :( elif elif bakkal
First name matched, but not found :( elisa elisabeta g
First name matched, but not found :( elisa elisa schenke
Full name matched elisa marku
First name matched, but not found :( elisa elisabeta g
First name matched, but not found :( elisa elisa schenke
First name matched, but not found :( elisa elisa marku
Last name from full name matched hirvensalo eliza hirvensalo
Full name matched elliot altham
Last name from full name matched berg else berg
Full name matched emanoil topalov
Full name matched emanuele libralato
First name matched, but not found :( erin catherine windorf
First name matched, but not found :( erin diane catherine gmez casas
Your Job Position matched!!! erin ekaterina zenkevich
Choose your role matched!!! esther esther vidal andreu
Full name matched evgenia adam
Full name matched evgeniia golubeva
Full name matched ewa kiwus
First name matched, but not found :( fabian marcin fabianczyk
Full name matched fabian kleeberger
First name matched, but not found :( fabian marcin fabianczyk
First name matched, but not found :( fabian fabian kleeberger
Last name from full name matched zagel fabian zag
Full name matched fabio muroni
Full name matched fabius weiner
Full name matched faisal khushnood
Full name matched farideh samadi
Full name matched felix dahlmeyer
First name matched, but not found :( felix felix dahlmeyer
Full name matched felix preuss
Full name matched fernanda pugliero
Full name matched filippo palmieri
First name matched, but not found :( florian florian straub
Full name matched florian bonnet
Full name matched florian straub
Full name matched francesco paltrinieri
Your Job Position matched!!! gaurav gaurav gulrajani
Full name matched gautami pandit
Last name from full name matched george george gibson
Full name matched georgiana ciobotaru
Full name matched giacomo giorgianni
First name matched, but not found :( giacomo giacomo giorgianni
First name matched, but not found :( gina regina hell neufeld
Full name matched girish nalwade
Full name matched grace hur
Last name from full name matched bras gregoire bras
Full name matched hadi attaran
Full name matched hamlet hayrapetyan
Last name from full name matched naqvi hasan naqvi
Full name matched hashir rizwan
Full name matched hayyaan ahmad
Full name matched heorhi talochka
Full name matched hiba ganta
Full name matched hiya gaine
Full name matched hosna shayani
First name matched, but not found :( hussam hussam al alfe
Full name matched iasmina craciun
Full name matched ifrah khanyaree
First name matched, but not found :( igor igor lahr
First name matched, but not found :( igor bella grigoryants
Full name matched igor lahr
First name matched, but not found :( ilan dilan gevsek
Your Job Position matched!!! ilan milana magurina
Full name matched ilya blokh
First name matched, but not found :( ilya ilya blokh
Full name matched ilya egorov
First name matched, but not found :( ilya ilya blokh
First name matched, but not found :( ilya ilya egorov
Full name matched indah harahap
Full name matched ines jordan
First name matched, but not found :( ira muhammad banirahma syahroni
First name matched, but not found :( ira ana paula miranda
First name matched, but not found :( ira vinicio oliveira
First name matched, but not found :( ira nuno moreira
First name matched, but not found :( ira kira valah
First name matched, but not found :( iren irene orsa fanton
Last name from full name matched seres iren seres
First name matched, but not found :( irene irene orsa fanton
Choose your role matched!!! irina irina reinerth
Full name matched irina reinerth

In [267]:
data_scraped.info()

<class 'pandas.core.frame.DataFrame'>
Index: 666 entries, 0 to 680
Data columns (total 70 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   url                        666 non-null    object
 1   title                      666 non-null    object
 2   linkedinProfileUrl         615 non-null    object
 3   email                      172 non-null    object
 4   linkedinProfile            615 non-null    object
 5   description                469 non-null    object
 6   headline                   656 non-null    object
 7   location                   656 non-null    object
 8   firstName                  656 non-null    object
 9   lastName                   666 non-null    object
 10  fullName                   666 non-null    object
 11  connectionDegree           656 non-null    object
 12  vmid                       656 non-null    object
 13  userId                     656 non-null    float64
 14  linkedinSalesNavigatorUrl  656 non-null    object
 15  connectionsCount           607 non-null    float64
 16  connectionsUrl             656 non-null    object
 17  mutualConnectionsUrl       656 non-null    object
 18  company                    645 non-null    object
 19  companyUrl                 583 non-null    object
 20  jobTitle                   644 non-null    object
 21  jobDescription             412 non-null    object
 22  jobLocation                546 non-null    object
 23  jobDateRange               635 non-null    object
 24  jobDuration                634 non-null    object
 25  company2                   628 non-null    object
 26  companyUrl2                570 non-null    object
 27  jobTitle2                  627 non-null    object
 28  jobDescription2            499 non-null    object
 29  jobLocation2               530 non-null    object
 30  jobDateRange2              627 non-null    object
 31  jobDuration2               626 non-null    object
 32  school                     630 non-null    object
 33  schoolUrl                  570 non-null    object
 34  schoolDegree               616 non-null    object
 35  schoolDescription          301 non-null    object
 36  schoolDateRange            579 non-null    object
 37  school2                    532 non-null    object
 38  schoolUrl2                 449 non-null    object
 39  schoolDegree2              514 non-null    object
 40  schoolDescription2         229 non-null    object
 41  schoolDateRange2           483 non-null    object
 42  birthday                   259 non-null    object
 43  allSkills                  623 non-null    object
 44  skill1                     623 non-null    object
 45  endorsement1               366 non-null    float64
 46  skill2                     621 non-null    object
 47  endorsement2               384 non-null    float64
 48  skill3                     619 non-null    object
 49  endorsement3               369 non-null    float64
 50  skill4                     615 non-null    object
 51  endorsement4               353 non-null    float64
 52  skill5                     612 non-null    object
 53  endorsement5               356 non-null    float64
 54  skill6                     608 non-null    object
 55  endorsement6               373 non-null    float64
 56  baseUrl                    666 non-null    object
 57  profileId                  656 non-null    object
 58  timestamp                  666 non-null    object
 59  subscribers                579 non-null    float64
 60  mutualConnectionsText      565 non-null    object
 61  imgUrl                     625 non-null    object
 62  website                    165 non-null    object
 63  mail                       172 non-null    object
 64  connectedOn                177 non-null    object
 65  error                      0 non-null      object
 66  phoneNumber                30 non-null     object
 67  partialScreenshot          409 non-null    object
 68  facebookUrl                1 non-null      object
 69  UserID                     479 non-null    float64
dtypes: float64(10), object(60)
memory usage: 385.6+ KB

In [259]:
unique_attendees2['Your Job Position'] = unique_attendees2['Your Job Position'].fillna('').str.lower()
unique_attendees2['Choose your role'] = unique_attendees2['Choose your role'].fillna('').str.lower()
unique_attendees2['Choose your role.1'] = unique_attendees2['Choose your role.1'].fillna('').str.lower()
unique_attendees2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 781 entries, 0 to 780
Data columns (total 11 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   fullName            781 non-null    object
 1   numEvents           781 non-null    int64
 2   First Name          781 non-null    object
 3   Surname             781 non-null    object
 4   Email               781 non-null    object
 5   Company             781 non-null    object
 6   Your Job Position   781 non-null    object
 7   Choose your role    781 non-null    object
 8   Choose your role.1  781 non-null    object
 9   Seniority           55 non-null     object
 10  UserID              781 non-null    int64
dtypes: int64(2), object(9)
memory usage: 67.2+ KB

In [174]:
data_scraped.info()

<class 'pandas.core.frame.DataFrame'>
Index: 666 entries, 0 to 680
Data columns (total 71 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   url                        666 non-null    object
 1   title                      666 non-null    object
 2   linkedinProfileUrl         615 non-null    object
 3   email                      666 non-null    object
 4   linkedinProfile            615 non-null    object
 5   description                469 non-null    object
 6   headline                   656 non-null    object
 7   location                   656 non-null    object
 8   firstName                  656 non-null    object
 9   lastName                   656 non-null    object
 10  fullName                   666 non-null    object
 11  connectionDegree           656 non-null    object
 12  vmid                       656 non-null    object
 13  userId                     656 non-null    float64
 14  linkedinSalesNavigatorUrl  656 non-null    object
 15  connectionsCount           607 non-null    float64
 16  connectionsUrl             656 non-null    object
 17  mutualConnectionsUrl       656 non-null    object
 18  company                    666 non-null    object
 19  companyUrl                 583 non-null    object
 20  jobTitle                   644 non-null    object
 21  jobDescription             412 non-null    object
 22  jobLocation                546 non-null    object
 23  jobDateRange               635 non-null    object
 24  jobDuration                634 non-null    object
 25  company2                   628 non-null    object
 26  companyUrl2                570 non-null    object
 27  jobTitle2                  627 non-null    object
 28  jobDescription2            499 non-null    object
 29  jobLocation2               530 non-null    object
 30  jobDateRange2              627 non-null    object
 31  jobDuration2               626 non-null    object
 32  school                     630 non-null    object
 33  schoolUrl                  570 non-null    object
 34  schoolDegree               616 non-null    object
 35  schoolDescription          301 non-null    object
 36  schoolDateRange            579 non-null    object
 37  school2                    532 non-null    object
 38  schoolUrl2                 449 non-null    object
 39  schoolDegree2              514 non-null    object
 40  schoolDescription2         229 non-null    object
 41  schoolDateRange2           483 non-null    object
 42  birthday                   259 non-null    object
 43  allSkills                  623 non-null    object
 44  skill1                     623 non-null    object
 45  endorsement1               366 non-null    float64
 46  skill2                     621 non-null    object
 47  endorsement2               384 non-null    float64
 48  skill3                     619 non-null    object
 49  endorsement3               369 non-null    float64
 50  skill4                     615 non-null    object
 51  endorsement4               353 non-null    float64
 52  skill5                     612 non-null    object
 53  endorsement5               356 non-null    float64
 54  skill6                     608 non-null    object
 55  endorsement6               373 non-null    float64
 56  baseUrl                    666 non-null    object
 57  profileId                  656 non-null    object
 58  timestamp                  666 non-null    object
 59  subscribers                579 non-null    float64
 60  mutualConnectionsText      565 non-null    object
 61  imgUrl                     625 non-null    object
 62  website                    165 non-null    object
 63  mail                       172 non-null    object
 64  connectedOn                177 non-null    object
 65  error                      0 non-null      object
 66  phoneNumber                30 non-null     object
 67  partialScreenshot          409 non-null    object
 68  facebookUrl                1 non-null      object
 69  UserID                     404 non-null    float64
 70  Attendance                 666 non-null    int64
dtypes: float64(10), int64(1), object(60)
memory usage: 390.8+ KB

In [269]:
data_scraped_non_matched = data_scraped[data_scraped.UserID.isnull()]
data_scraped_non_matched = data_scraped_non_matched.drop(columns=['url','linkedinProfileUrl','linkedinProfile','facebookUrl','error','partialScreenshot','phoneNumber','connectedOn',
                                       'imgUrl','profileId','timestamp','schoolUrl','mutualConnectionsText','baseUrl','endorsement6','endorsement5',
                                      'endorsement4','endorsement3','endorsement2','endorsement1','birthday','mutualConnectionsUrl','connectionsUrl',
                                       'connectionsCount','vmid','userId','linkedinSalesNavigatorUrl','connectionDegree','subscribers','UserID'])

In [114]:
unique_attendees2

,fullName,numEvents,First Name,Surname,Email,Company,Your Job Position,Choose your role,Choose your role.1,Seniority,UserID
0,abdelrahman elfar,2,abdelrahman,elfar,abdelrahman.alfar@gmail.com,insurance,engineering,product,,NaN,0
1,abdo wahba,1,abdo,wahba,abdelrahman.wahba@gmail.com,tucuvi,,,,NaN,1
2,abhi kasoju,1,abhi,kasoju,kasoju.abhinaya@gmail.com,insurance,analytics,,,NaN,2
3,abhishek agarwal,1,abhishek,agarwal,aggyabhishek@gmail.com,,founder,,,NaN,3
4,abhishek khatri,1,abhishek,khatri,abhishekkhatri@hotmail.com,talent.io,other,,,NaN,4
...,...,...,...,...,...,...,...,...,...,...,...
776,zimmermann jennifer,1,zimmermann,jennifer,zimmermannjennifer43@gmail.com,mediamarktsaturn,other,,,NaN,776
777,ziyad mohiyudheen,2,ziyad,mohiyudheen,mmziyad@gmail.com,spiced,,,,NaN,777
778,zsolt pap,1,zsolt,pap,papjanoszsolt@yahoo.com,verkstedt,,ecommerce,,NaN,778
779,zsolt szrapko,1,zsolt,szrapko,szrapko.zsolt+eventbrite@gmail.com,academy,product,product,,NaN,779
780,zulfiya malyshenko,5,zulfiya,malyshenko,zulfia@malyshenko.com,babbel,product,product,,NaN,780

In [270]:
data_scraped_non_matched

,title,email,description,headline,location,firstName,lastName,fullName,company,companyUrl,...,schoolDateRange2,allSkills,skill1,skill2,skill3,skill4,skill5,skill6,website,mail
0,patrick beeker,NaN,Experienced professional with the ability to c...,"General Manager - US Finance, Legal, HR, Accou...","Carrollton, Texas, United States",patrick,beeker,patrick beeker,Orbis Systems,https://www.linkedin.com/company/25018031/,...,1996 - 2001,"Accounting, Management, Strategic Planning, Fo...",Accounting,Management,Strategic Planning,Forecasting,Organizational Development,Business Strategy,NaN,NaN
1,teena kumari – tech product support intern – h...,NaN,"I am a Product Owner at World Simplified UG, a...",Tech product support intern at Holidu,"Berlin, Berlin, Germany",teena,kumari,teena kumari,Holidu,https://www.linkedin.com/company/5257651/,...,Dec 2014 - Jun 2020,"Market Research, Product Strategies, Team Lead...",Market Research,Product Strategies,Team Leadership,Cross-functional Team Leadership,Project Planning,Business Development,NaN,NaN
2,mischa gawronski – creative director – freelance,NaN,Passionate and challenging influencer in strat...,IGP Network | Creative Director,"Berlin, Berlin, Germany",mischa,gawronski,mischa gawronski,Freelance,NaN,...,NaN,"Strategische Planung, Soziale Medien, Visuelle...",Strategische Planung,Soziale Medien,Visuelle Kommunikation,Fotografie,Business Development,Critical Thinking,NaN,NaN
3,shuvam kumar sah – web designer,NaN,Designer & Problem Solver | CS Student | Aimin...,Making Interfaces Sexier - UI/UX/Dev,"Berlin, Berlin, Germany",shuvam kumar,sah,shuvam kumar sah,A.T.E.M. Management GmbH,https://www.linkedin.com/company/75730132/,...,Aug 2021 - Jun 2022,"React.js, Java, JavaScript, Cascading Style Sh...",React.js,Java,JavaScript,Cascading Style Sheets (CSS),Front-End Development,Wireframing,dribbble.com/shuvam_sah,NaN
4,ayman chalhoub - clink,NaN,NaN,Product & Growth,"Berlin, Berlin, Germany",ayman,chalhoub,ayman chalhoub,Clink,https://www.linkedin.com/company/93780977/,...,NaN,"Product Marketing, Start-ups, Cross-functional...",Product Marketing,Start-ups,Cross-functional Team Leadership,Business Development,Mobile Applications,Mobile Technology,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
676,"ali akbar khan, mba - delivery hero",NaN,"Experienced CX and E-Commerce professional, wi...",Global Customer Experience,"Berlin, Berlin, Germany",ali akbar,khan mba,ali akbar khan mba,Delivery Hero,https://www.linkedin.com/company/2393200/,...,2009 - 2012,"Banking, Financial Analysis, Corporate Finance...",Banking,Financial Analysis,Corporate Finance,Portfolio Management,Risk Management,Investment Banking,NaN,NaN
677,daniel lópez contreras - masterschool,NaN,- 100% Customer oriented professional\n- Stron...,"Transforming Education, Customer Focused, avid...","Berlin, Berlin, Germany",daniel,lpez contreras,daniel lpez contreras,Masterschool,https://www.linkedin.com/company/75721942/,...,2001 - 2007,"Public Speaking, Presentation Skills, Customer...",Public Speaking,Presentation Skills,Customer Relationship Management (CRM),Organization Skills,Account Management,Analytical Skills,NaN,NaN
678,rim bensouf - product owner - sporttotal ...,NaN,NaN,Product Owner at Sporttotal.tv\n\nAgile leader...,Berlin Metropolitan Area,rim,bensouf,rim bensouf,SPORTTOTAL TECHNOLOGY GmbH,https://www.linkedin.com/company/66650149/,...,Sep 2009 - Oct 2011,"Business-to-Business (B2B), B2C, Over-the-Top ...",Business-to-Business (B2B),B2C,Over-the-Top Content (OTT),Sport stream,Jira,Agile Leadership,NaN,NaN
679,"oguz celikada – berlin, berlin, deutschland",NaN,Experienced professional in human-centric busi...,Digital Product Consultant,"Berlin, Berlin, Germany",oguz,celikada,oguz celikada,Freelance,NaN,...,2008 - 2011,"Human Computer Interaction, User Research, Qua...",Human Computer Interaction,User Research,Qualitative Research,UX Research,User Experience (UX),Ethnography,NaN,NaN
680,althaf ali mattummathodi - schaeffler,NaN,NaN,R&D E-mobility at Schaeffler,Berlin Metropolitan Area,althaf ali,mattummathodi,althaf ali mattummathodi,Schaeffler,https://www.linkedin.com/company/305287/,...,2013 - 2017,"Electrical Machines, Simulations, Gearboxes, G...",Electrical Machines,Simulations,Gearboxes,Gear Manufacturing,Simulink,MATLAB,NaN,NaN

In [110]:
unique_attendees2

,fullName,numEvents,First Name,Surname,Email,Company,Your Job Position,Choose your role,Choose your role.1,Seniority,UserID
0,abdelrahman elfar,2,abdelrahman,elfar,abdelrahman.alfar@gmail.com,insurance,engineering,product,,NaN,0
1,abdo wahba,1,abdo,wahba,abdelrahman.wahba@gmail.com,tucuvi,,,,NaN,1
2,abhi kasoju,1,abhi,kasoju,kasoju.abhinaya@gmail.com,insurance,analytics,,,NaN,2
3,abhishek agarwal,1,abhishek,agarwal,aggyabhishek@gmail.com,,founder,,,NaN,3
4,abhishek khatri,1,abhishek,khatri,abhishekkhatri@hotmail.com,talent.io,other,,,NaN,4
...,...,...,...,...,...,...,...,...,...,...,...
776,zimmermann jennifer,1,zimmermann,jennifer,zimmermannjennifer43@gmail.com,mediamarktsaturn,other,,,NaN,776
777,ziyad mohiyudheen,2,ziyad,mohiyudheen,mmziyad@gmail.com,spiced,,,,NaN,777
778,zsolt pap,1,zsolt,pap,papjanoszsolt@yahoo.com,verkstedt,,ecommerce,,NaN,778
779,zsolt szrapko,1,zsolt,szrapko,szrapko.zsolt+eventbrite@gmail.com,academy,product,product,,NaN,779
780,zulfiya malyshenko,5,zulfiya,malyshenko,zulfia@malyshenko.com,babbel,product,product,,NaN,780

In [119]:
target_string = 'bartholomae' 
unique_attendees2[unique_attendees2['fullName'].str.contains(target_string, na=False) | 
          unique_attendees2['Surname'].str.contains( target_string, na=False)| 
                  unique_attendees2['Email'].str.contains(target_string, na=False)]

,fullName,numEvents,First Name,Surname,Email,Company,Your Job Position,Choose your role,Choose your role.1,Seniority,UserID
168,daniel bartholomae,1,daniel,bartholomae,daniel.bartholomae@optilyz.com,purpose,founder,,,CxO,168

In [ ]:
target_string = 'bartholomae'
unique_attendees2[unique_attendees2['fullName'].str.contains(target_string, na=False) | 
          unique_attendees2['Surname'].str.contains( target_string, na=False)| 
                  unique_attendees2['Email'].str.contains(target_string, na=False)]

In [121]:
target_string = 'bartholomae'
data_scraped[data_scraped['lastName'].str.contains(target_string, na=False)]

,url,title,linkedinProfileUrl,email,linkedinProfile,description,headline,location,firstName,lastName,...,imgUrl,website,mail,connectedOn,error,phoneNumber,partialScreenshot,facebookUrl,UserID,Attendance
112,https://linkedin.com/in/bartholomae,💻 daniel bartholomae - optilyz,https://www.linkedin.com/in/bartholomae/,daniel@bartholomae.name,https://www.linkedin.com/in/bartholomae/,"If you want to connect, please add a note. I'm...","Entrepreneur, founder and tech enthusiast","Berlin, Berlin, Germany",👨‍💻 daniel,bartholomae,...,https://media.licdn.com/dms/image/C4D03AQFqKHF...,startup-cto.net,daniel@bartholomae.name,"May 11, 2023",NaN,+49 30 20847337,NaN,NaN,NaN,0

In [124]:
target_string = 'olx'
unique_attendees2[unique_attendees2['fullName'].str.contains(target_string, na=False) | 
          unique_attendees2['Company'].str.contains( target_string, na=False)| 
                  unique_attendees2['Email'].str.contains(target_string, na=False)]

,fullName,numEvents,First Name,Surname,Email,Company,Your Job Position,Choose your role,Choose your role.1,Seniority,UserID
442,martin klein,1,martin,klein,martin.klein@funktel.com,olx,other,,,NaN,442
696,tatiana pridchenko,1,tatiana,pridchenko,tapridchenko@gmail.com,olx,student,,,NaN,696

In [128]:
target_string = 'abhinav'
unique_attendees2[unique_attendees2['fullName'].str.contains(target_string, na=False) | 
          unique_attendees2['Company'].str.contains( target_string, na=False)| 
                  unique_attendees2['Email'].str.contains(target_string, na=False)]

Empty DataFrame
Columns: [fullName, numEvents, First Name, Surname, Email, Company, Your Job Position, Choose your role, Choose your role.1, Seniority, UserID]
Index: []

In [131]:
target_string = 'miranda' #matched by only last name
filtered_df[filtered_df['fullName'].str.contains(target_string, na=False) | 
          filtered_df['Surname'].str.contains( target_string, na=False)| 
                  filtered_df['Email'].str.contains(target_string, na=False)]

,fullName,numEvents,First Name,Surname,Email,Company,Your Job Position,Choose your role,Choose your role.1,Seniority,UserID,_merge
55,ana miranda,1,ana,miranda,apaulafernandesmiranda@gmail.com,akirolabs,product,product,,NaN,55,left_only

In [ ]:
'miranda' in filtered_df['fullName']

In [170]:
filtered_df.loc[55,'fullName']

'ana miranda'

In [171]:
'miranda' in filtered_df.loc[55,'fullName']

True

In [115]:
# Assuming unique_attendees2 is your DataFrame containing unique attendees with column UserID,
# and data_scraped is your DataFrame containing scraped data with column UserID

# Perform left join
merged_df = unique_attendees2.merge(data_scraped[['UserID']], on='UserID', how='left', indicator=True)

# Filter out rows where UserID from data_scraped is not null
filtered_df = merged_df[merged_df['_merge'] == 'left_only']

In [116]:
filtered_df

,fullName,numEvents,First Name,Surname,Email,Company,Your Job Position,Choose your role,Choose your role.1,Seniority,UserID,_merge
1,abdo wahba,1,abdo,wahba,abdelrahman.wahba@gmail.com,tucuvi,,,,NaN,1,left_only
2,abhi kasoju,1,abhi,kasoju,kasoju.abhinaya@gmail.com,insurance,analytics,,,NaN,2,left_only
3,abhishek agarwal,1,abhishek,agarwal,aggyabhishek@gmail.com,,founder,,,NaN,3,left_only
7,adithya krishnamurthy,2,adithya,krishnamurthy,pkadithya90@gmail.com,insurance,product,lead,,NaN,7,left_only
8,aditya bhirangi,1,aditya,bhirangi,aditya_atul.bhirangi@edu.escp.eu,memasik,,,,NaN,8,left_only
...,...,...,...,...,...,...,...,...,...,...,...,...
773,zahra rouhi,1,zahra,rouhi,zahrarouhi@gmail.com,varshalalwani94@gmail.com,design,,,NaN,773,left_only
774,zaron arava,1,zaron,arava,zaron.arava@gmail.com,fintech,other,,,NaN,774,left_only
776,zimmermann jennifer,1,zimmermann,jennifer,zimmermannjennifer43@gmail.com,mediamarktsaturn,other,,,NaN,776,left_only
777,ziyad mohiyudheen,2,ziyad,mohiyudheen,mmziyad@gmail.com,spiced,,,,NaN,777,left_only
779,zsolt szrapko,1,zsolt,szrapko,szrapko.zsolt+eventbrite@gmail.com,academy,product,product,,NaN,779,left_only

In [117]:
data_scraped_non_matched.to_csv('../raw_data/data_scraped_non_matched.csv')

In [118]:
filtered_df.to_csv('../raw_data/ids_non_matched.csv')

In [108]:
strin = "sdfssecretghth"

In [109]:
strin.str.contains("secret")

AttributeError: 'str' object has no attribute 'str'